<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flashLight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashLight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1,105},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashLight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1,209},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashLight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1,313},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashLight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1,417},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flashLight.png</string>
            <key>size</key>
            <string>{514,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec95765ff46620590337f672cf6649a:d58dd524aa96e58847e26191549dbfcb:47e712be1a2262252feaac198718d313$</string>
            <key>textureFileName</key>
            <string>flashLight.png</string>
        </dict>
    </dict>
</plist>
