<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TÀI.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1728},{183,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,125}}</string>
				<key>sourceSize</key>
				<string>{183,125}</string>
			</dict>

			<key>XỈU.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1728},{205,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,131}}</string>
				<key>sourceSize</key>
				<string>{205,131}</string>
			</dict>

			<key>bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1577},{348,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{348,348}}</string>
				<key>sourceSize</key>
				<string>{352,352}</string>
			</dict>

			<key>bg_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1610},{152,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,149}}</string>
				<key>sourceSize</key>
				<string>{152,149}</string>
			</dict>

			<key>bg_lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1577},{255,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{255,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>btn_100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,802},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1760},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_10m.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1829},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1959},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_1m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1760},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1648},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1430},{134,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>

			<key>btn_5m.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1959},{136,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,68}}</string>
				<key>sourceSize</key>
				<string>{136,68}</string>
			</dict>

			<key>btn_allin.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1933},{194,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,72}}</string>
				<key>sourceSize</key>
				<string>{194,72}</string>
			</dict>

			<key>btn_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,871},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>btn_huy.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1860},{194,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,72}}</string>
				<key>sourceSize</key>
				<string>{194,72}</string>
			</dict>

			<key>btn_xacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1648},{216,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,79}}</string>
				<key>sourceSize</key>
				<string>{216,79}</string>
			</dict>

			<key>dark_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1172,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1172,116}}</string>
				<key>sourceSize</key>
				<string>{1172,116}</string>
			</dict>

			<key>data_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{1010,667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1010,667}}</string>
				<key>sourceSize</key>
				<string>{1010,667}</string>
			</dict>

			<key>data_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,785},{1010,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1010,644}}</string>
				<key>sourceSize</key>
				<string>{1010,644}</string>
			</dict>

			<key>dot_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1991},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>dot_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1991},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,2006},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1989},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>dot_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,2006},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1989},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>

			<key>dot_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,2006},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1430},{878,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{878,83}}</string>
				<key>sourceSize</key>
				<string>{878,83}</string>
			</dict>

			<key>frame_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,117},{507,684}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{507,684}}</string>
				<key>sourceSize</key>
				<string>{507,684}</string>
			</dict>

			<key>frame_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1989},{106,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,38}}</string>
				<key>sourceSize</key>
				<string>{106,38}</string>
			</dict>

			<key>ic_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,940},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>ic_blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1129},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>ic_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1140},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>ic_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1898},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1335},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1040},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,88}}</string>
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>

			<key>ic_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1335},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,93}}</string>
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>

			<key>ic_nan_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1429},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,93}}</string>
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>

			<key>ic_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1040},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>ic_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1898},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,27}}</string>
				<key>sourceSize</key>
				<string>{21,27}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1219},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,1129},{7,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,567}}</string>
				<key>sourceSize</key>
				<string>{7,567}</string>
			</dict>

			<key>next_phai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,1425},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>next_trai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1523},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>pageInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2006},{119,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,40}}</string>
				<key>sourceSize</key>
				<string>{119,40}</string>
			</dict>

			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,940},{88,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,76}}</string>
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>

			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1523},{90,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,79}}</string>
				<key>sourceSize</key>
				<string>{90,79}</string>
			</dict>

			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1240},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{106,94}</string>
			</dict>

			<key>roll.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1514},{728,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{728,62}}</string>
				<key>sourceSize</key>
				<string>{728,62}</string>
			</dict>

			<key>text_dattai.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1514},{179,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,95}}</string>
				<key>sourceSize</key>
				<string>{179,95}</string>
			</dict>

			<key>text_datxiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1860},{188,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,98}}</string>
				<key>sourceSize</key>
				<string>{188,98}</string>
			</dict>

			<key>textbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1577},{248,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,70}}</string>
				<key>sourceSize</key>
				<string>{248,70}</string>
			</dict>

			<key>textbox_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1926},{284,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,64}}</string>
				<key>sourceSize</key>
				<string>{284,64}</string>
			</dict>

			<key>toast.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1926},{326,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,62}}</string>
				<key>sourceSize</key>
				<string>{326,62}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>taixiu_sieutoc.png</string>
			</dict>
		</dict>
</plist>