<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,324},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,486},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,648},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,810},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,0},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,162},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,972},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{372,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{496,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{620,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{744,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{868,1134},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{0,1296},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{124,1296},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBlur_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{124,162}</string>
                <key>textureRect</key>
                <string>{{248,1296},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{992,1458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5694e36d7f722977415c83dcf505d5a4:43f92e3e49f28d94f3b2ab18e703650c:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
