<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_BottomUI_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,106}</string>
                <key>spriteSourceSize</key>
                <string>{638,106}</string>
                <key>textureRect</key>
                <string>{{242,154},{638,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoardG_70_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,347}</string>
                <key>spriteSourceSize</key>
                <string>{335,347}</string>
                <key>textureRect</key>
                <string>{{425,260},{335,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_BetCoin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,86}</string>
                <key>textureRect</key>
                <string>{{443,68},{178,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_BetCoin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,86}</string>
                <key>textureRect</key>
                <string>{{621,68},{178,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Home_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,126}</string>
                <key>spriteSourceSize</key>
                <string>{125,126}</string>
                <key>textureRect</key>
                <string>{{183,260},{125,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Info_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{569,0},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Minus_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{639,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Plus_Hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{707,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Setting_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,128}</string>
                <key>spriteSourceSize</key>
                <string>{117,128}</string>
                <key>textureRect</key>
                <string>{{308,260},{117,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{163,68},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,80}</string>
                <key>textureRect</key>
                <string>{{303,68},{140,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JPWinGrand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,360}</string>
                <key>spriteSourceSize</key>
                <string>{888,360}</string>
                <key>textureRect</key>
                <string>{{0,607},{888,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JPWinMajor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,360}</string>
                <key>spriteSourceSize</key>
                <string>{888,360}</string>
                <key>textureRect</key>
                <string>{{0,967},{888,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TotalWin_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,121}</string>
                <key>spriteSourceSize</key>
                <string>{183,121}</string>
                <key>textureRect</key>
                <string>{{0,260},{183,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,88}</string>
                <key>spriteSourceSize</key>
                <string>{242,88}</string>
                <key>textureRect</key>
                <string>{{0,154},{242,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pedestal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,71}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{0,68},{163,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Roof_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,64}</string>
                <key>spriteSourceSize</key>
                <string>{569,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{569,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{888,1327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635c16126d35b598f3cae4522ce0a962:415fdd41c5164783295da668de2ea3fb:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
