<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,261},{211,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,230}}</string>
				<key>sourceSize</key>
				<string>{211,230}</string>
			</dict>

			<key>frame_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{273,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,345}}</string>
				<key>sourceSize</key>
				<string>{273,345}</string>
			</dict>

			<key>frame_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,161},{269,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,98}}</string>
				<key>sourceSize</key>
				<string>{269,98}</string>
			</dict>

			<key>frame_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{510,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{510,77}}</string>
				<key>sourceSize</key>
				<string>{510,77}</string>
			</dict>

			<key>ic_catdat.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,427},{174,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,71}}</string>
				<key>sourceSize</key>
				<string>{174,71}</string>
			</dict>

			<key>ic_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,0},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>

			<key>ic_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,106},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,331},{212,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,68}}</string>
				<key>sourceSize</key>
				<string>{212,68}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,254},{172,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,63}}</string>
				<key>sourceSize</key>
				<string>{172,63}</string>
			</dict>

			<key>ic_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>

			<key>ic_pick.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,106},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,41}}</string>
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,261},{215,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,68}}</string>
				<key>sourceSize</key>
				<string>{215,68}</string>
			</dict>

			<key>ic_xepbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,319},{153,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,154}}</string>
				<key>sourceSize</key>
				<string>{153,154}</string>
			</dict>

			<key>light_chonbai].png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{198,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,252}}</string>
				<key>sourceSize</key>
				<string>{198,252}</string>
			</dict>

			<key>timeline.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{538,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{538,47}}</string>
				<key>sourceSize</key>
				<string>{538,47}</string>
			</dict>

			<key>timeline_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,49},{522,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{522,31}}</string>
				<key>sourceSize</key>
				<string>{522,31}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,401},{206,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,24}}</string>
				<key>sourceSize</key>
				<string>{206,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>ui_main.png</string>
			</dict>
		</dict>
</plist>