<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{170,160},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{0,330},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{180,330},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{0,500},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{180,500},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,160}</string>
                <key>textureRect</key>
                <string>{{147,0},{170,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,160}</string>
                <key>textureRect</key>
                <string>{{317,0},{170,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,160}</string>
                <key>textureRect</key>
                <string>{{0,160},{170,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,670},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{180,670},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup_FreeG_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{147,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{0,850},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,170}</string>
                <key>textureRect</key>
                <string>{{180,850},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{487,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281c6f37fd3f68672e881471138d8424:d8d8732dfad7fed0e8a154d9871bd745:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
