<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_BoardGame_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,603}</string>
                <key>spriteSourceSize</key>
                <string>{486,603}</string>
                <key>textureRect</key>
                <string>{{1196,176},{486,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_BottomUI_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{775,107}</string>
                <key>spriteSourceSize</key>
                <string>{775,107}</string>
                <key>textureRect</key>
                <string>{{838,0},{775,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Home_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{138,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Minus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{218,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Plus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{298,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Setting_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{378,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Spin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{184,200}</string>
                <key>textureRect</key>
                <string>{{0,176},{184,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Stop_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{184,200}</string>
                <key>textureRect</key>
                <string>{{184,176},{184,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{458,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{538,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,206}</string>
                <key>spriteSourceSize</key>
                <string>{248,206}</string>
                <key>textureRect</key>
                <string>{{368,176},{248,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TotalBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,82}</string>
                <key>spriteSourceSize</key>
                <string>{220,82}</string>
                <key>textureRect</key>
                <string>{{618,0},{220,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TotalWin_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,176}</string>
                <key>spriteSourceSize</key>
                <string>{181,176}</string>
                <key>textureRect</key>
                <string>{{1613,0},{181,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,78}</string>
                <key>spriteSourceSize</key>
                <string>{138,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Info_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,602}</string>
                <key>spriteSourceSize</key>
                <string>{580,602}</string>
                <key>textureRect</key>
                <string>{{616,176},{580,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_MAIN.png</string>
            <key>size</key>
            <string>{1794,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6e01f6e4a6725b71c4acfcc135e0b8:305a954a64164387ff986c3256b6a0a3:dfd97c3cb9bfba1089531b28be54cba7$</string>
            <key>textureFileName</key>
            <string>UI_MAIN.png</string>
        </dict>
    </dict>
</plist>
