<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,57}</string>
                <key>textureRect</key>
                <string>{{1172,370},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1167,429},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1155,489},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1153,549},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1250,549},{95,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1153,609},{95,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1250,646},{95,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,57}</string>
                <key>textureRect</key>
                <string>{{1084,677},{95,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>50M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{1024,677},{95,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,57}</string>
                <key>textureRect</key>
                <string>{{1143,669},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,61}</string>
                <key>spriteSourceSize</key>
                <string>{256,61}</string>
                <key>textureRect</key>
                <string>{{599,661},{256,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgSoiCau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,29}</string>
                <key>spriteSourceSize</key>
                <string>{515,29}</string>
                <key>textureRect</key>
                <string>{{1,901},{515,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgchen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{896,1},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{848,421},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderChat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,49}</string>
                <key>spriteSourceSize</key>
                <string>{274,49}</string>
                <key>textureRect</key>
                <string>{{896,370},{274,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borderSoiCau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,29}</string>
                <key>spriteSourceSize</key>
                <string>{516,29}</string>
                <key>textureRect</key>
                <string>{{1,870},{516,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxchat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,596}</string>
                <key>spriteSourceSize</key>
                <string>{413,596}</string>
                <key>textureRect</key>
                <string>{{1,412},{413,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boxinside2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,114}</string>
                <key>textureRect</key>
                <string>{{757,724},{135,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,63}</string>
                <key>spriteSourceSize</key>
                <string>{303,63}</string>
                <key>textureRect</key>
                <string>{{1245,1},{303,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,55}</string>
                <key>spriteSourceSize</key>
                <string>{175,55}</string>
                <key>textureRect</key>
                <string>{{978,488},{175,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHuyOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,64}</string>
                <key>spriteSourceSize</key>
                <string>{169,64}</string>
                <key>textureRect</key>
                <string>{{982,545},{169,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNut5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1085,644},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNut6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{940,906},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonGui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,53}</string>
                <key>spriteSourceSize</key>
                <string>{93,53}</string>
                <key>textureRect</key>
                <string>{{1143,728},{93,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1023,774},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{740,873},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daDatCuocOffCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{982,611},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daDatCuocOffCopy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{599,823},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daDatCuocOn221Copy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{748,840},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daDatCuocOn22Copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{936,644},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>datCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,72}</string>
                <key>spriteSourceSize</key>
                <string>{347,72}</string>
                <key>textureRect</key>
                <string>{{896,255},{347,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dauBang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{1131,611},{26,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dauhoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{807,873},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1090,774},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,61}</string>
                <key>spriteSourceSize</key>
                <string>{247,61}</string>
                <key>textureRect</key>
                <string>{{1150,1},{247,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icPlus02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{1245,306},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icTopexit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,50}</string>
                <key>textureRect</key>
                <string>{{894,724},{96,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icXingau1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{562,827},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icXingau2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{1269,370},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icXingau3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{1213,153},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconmember.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,23}</string>
                <key>spriteSourceSize</key>
                <string>{13,23}</string>
                <key>textureRect</key>
                <string>{{1223,783},{13,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconmember2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,23}</string>
                <key>spriteSourceSize</key>
                <string>{13,23}</string>
                <key>textureRect</key>
                <string>{{1208,859},{13,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1238,743},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invalidName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{519,873},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,3}</string>
                <key>spriteSourceSize</key>
                <string>{55,3}</string>
                <key>textureRect</key>
                <string>{{1150,250},{55,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,3}</string>
                <key>spriteSourceSize</key>
                <string>{55,3}</string>
                <key>textureRect</key>
                <string>{{588,936},{55,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,3}</string>
                <key>spriteSourceSize</key>
                <string>{55,3}</string>
                <key>textureRect</key>
                <string>{{645,936},{55,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,3}</string>
                <key>spriteSourceSize</key>
                <string>{55,3}</string>
                <key>textureRect</key>
                <string>{{1305,743},{55,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1223,810},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>member.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,29}</string>
                <key>spriteSourceSize</key>
                <string>{74,29}</string>
                <key>textureRect</key>
                <string>{{1213,1},{74,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>member2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,29}</string>
                <key>spriteSourceSize</key>
                <string>{74,29}</string>
                <key>textureRect</key>
                <string>{{1213,77},{74,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{874,873},{65,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nanDisable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{940,839},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nanDisableBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1007,841},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oHienThiMd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,41}</string>
                <key>spriteSourceSize</key>
                <string>{559,41}</string>
                <key>textureRect</key>
                <string>{{1,827},{559,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,39}</string>
                <key>spriteSourceSize</key>
                <string>{326,39}</string>
                <key>textureRect</key>
                <string>{{896,329},{326,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tTI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,65}</string>
                <key>spriteSourceSize</key>
                <string>{187,65}</string>
                <key>textureRect</key>
                <string>{{978,421},{187,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tXU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,65}</string>
                <key>spriteSourceSize</key>
                <string>{187,65}</string>
                <key>textureRect</key>
                <string>{{978,421},{187,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{893,409}</string>
                <key>spriteSourceSize</key>
                <string>{893,409}</string>
                <key>textureRect</key>
                <string>{{1,1},{893,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,89}</string>
                <key>spriteSourceSize</key>
                <string>{132,89}</string>
                <key>textureRect</key>
                <string>{{848,551},{132,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taiden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1269,399},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongKe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1074,841},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,247}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{599,412},{247,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1141,859},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiNgau1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{857,642},{77,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiNgau2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{1143,783},{74,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiNgau3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{588,856},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiNgau4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{946,759},{75,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiNgau5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{74,78}</string>
                <key>textureRect</key>
                <string>{{664,856},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiNgau6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{76,80}</string>
                <key>textureRect</key>
                <string>{{946,677},{76,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,97}</string>
                <key>spriteSourceSize</key>
                <string>{156,97}</string>
                <key>textureRect</key>
                <string>{{599,724},{156,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiutrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1213,182},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AslatTX.png</string>
            <key>size</key>
            <string>{1309,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e895c9b5dff118938b0df71b37ac6e:6878b894213e8c119ab89f525b6e3855:bf6a74c4cbb157d9bd0bc9f8eb74e4b6$</string>
            <key>textureFileName</key>
            <string>AslatTX.png</string>
        </dict>
    </dict>
</plist>
