<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,129}</string>
                <key>spriteSourceSize</key>
                <string>{112,129}</string>
                <key>textureRect</key>
                <string>{{103,0},{112,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{0,368},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{116,123}</string>
                <key>textureRect</key>
                <string>{{113,129},{116,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{0,129},{113,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{116,252},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,138}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{0,531},{155,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BonusG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{116,100}</string>
                <key>textureRect</key>
                <string>{{0,252},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,120}</string>
                <key>spriteSourceSize</key>
                <string>{103,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KMN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,163}</string>
                <key>spriteSourceSize</key>
                <string>{134,163}</string>
                <key>textureRect</key>
                <string>{{120,368},{134,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sontinhitem.png</string>
            <key>size</key>
            <string>{254,669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cf0ecc27ca45e74f57f8779bda4adce:1c5d78aa71927db213a4a79fdfd3e658:f09eb94e40d9940019084b2a9287875a$</string>
            <key>textureFileName</key>
            <string>sontinhitem.png</string>
        </dict>
    </dict>
</plist>
