<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,120}</string>
                <key>spriteSourceSize</key>
                <string>{103,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,120}</string>
                <key>spriteSourceSize</key>
                <string>{103,120}</string>
                <key>textureRect</key>
                <string>{{103,0},{103,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{0,120},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,126}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{120,120},{120,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{116,100}</string>
                <key>textureRect</key>
                <string>{{0,246},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{116,100}</string>
                <key>textureRect</key>
                <string>{{116,246},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{0,346},{113,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{113,346},{113,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{0,465},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{117,465},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{0,581},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{128,581},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,129}</string>
                <key>spriteSourceSize</key>
                <string>{112,129}</string>
                <key>textureRect</key>
                <string>{{0,705},{112,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,129}</string>
                <key>spriteSourceSize</key>
                <string>{112,129}</string>
                <key>textureRect</key>
                <string>{{112,705},{112,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{116,123}</string>
                <key>textureRect</key>
                <string>{{0,834},{116,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{116,123}</string>
                <key>textureRect</key>
                <string>{{116,834},{116,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{0,957},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{108,957},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tesst.png</string>
            <key>size</key>
            <string>{256,1059}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f144e8b36a71010a50ad11e27f36be59:4c60e16b32013f0fa04b9f421adfc7d2:052a8f0479ceb048d8be800f33e79080$</string>
            <key>textureFileName</key>
            <string>tesst.png</string>
        </dict>
    </dict>
</plist>
