<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx_md5_dice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,662},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_dice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,591},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_dice_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,804},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_dice_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,875},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_dice_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,733},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_dice_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,591},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>tx_md5_xx1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,788},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,591},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,394},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,197},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,394},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,197},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,394},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,0},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,197},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,788},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

			<key>tx_md5_xx3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,591},{198,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,196}}</string>
				<key>sourceSize</key>
				<string>{198,196}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{796,985}</string>
			<key>textureFileName</key>
			<string>DicesMd5.png</string>
			<key>realTextureFileName</key>
			<string>DicesMd5.png</string>
			</dict>
		</dict>
</plist>