<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx_man_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,433},{186,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,476}}</string>
				<key>sourceSize</key>
				<string>{186,476}</string>
			</dict>

			<key>tx_man_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,433},{186,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,476}}</string>
				<key>sourceSize</key>
				<string>{186,476}</string>
			</dict>

			<key>tx_md5_aura.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,0},{238,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,23},{238,195}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>tx_md5_aura_spinner.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,930},{270,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,270}}</string>
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>

			<key>tx_md5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{730,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{730,394}}</string>
				<key>sourceSize</key>
				<string>{730,394}</string>
			</dict>

			<key>tx_md5_bg_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,527},{468,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,28}}</string>
				<key>sourceSize</key>
				<string>{468,28}</string>
			</dict>

			<key>tx_md5_bg_string_encrypt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{600,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,50}}</string>
				<key>sourceSize</key>
				<string>{600,50}</string>
			</dict>

			<key>tx_md5_bg_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,743},{304,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{304,186}}</string>
				<key>sourceSize</key>
				<string>{305,186}</string>
			</dict>

			<key>tx_md5_bg_xem_hu_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1097},{240,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,100}}</string>
				<key>sourceSize</key>
				<string>{240,100}</string>
			</dict>

			<key>tx_md5_bg_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,556},{305,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,186}}</string>
				<key>sourceSize</key>
				<string>{305,186}</string>
			</dict>

			<key>tx_md5_btn_bet_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,303},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,71},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,985},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,50}}</string>
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>

			<key>tx_md5_btn_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1097},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_hand_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1158},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,132},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,985},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,910},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_rut_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1201},{190,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,40}}</string>
				<key>sourceSize</key>
				<string>{190,40}</string>
			</dict>

			<key>tx_md5_btn_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1097},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>tx_md5_btn_submit_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1036},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,60}}</string>
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>

			<key>tx_md5_btn_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,196},{131,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,41}}</string>
				<key>sourceSize</key>
				<string>{131,42}</string>
			</dict>

			<key>tx_md5_button_bet_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,497},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{152,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>

			<key>tx_md5_button_bet_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1201},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{152,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>

			<key>tx_md5_cau_current.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,497},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>

			<key>tx_md5_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{430,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,540}}</string>
				<key>sourceSize</key>
				<string>{430,540}</string>
			</dict>

			<key>tx_md5_chat_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,0},{100,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,70}}</string>
				<key>sourceSize</key>
				<string>{100,70}</string>
			</dict>

			<key>tx_md5_count_user_betted_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,910},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,74}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>tx_md5_count_user_betted_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,71},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,74}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>tx_md5_display_price_bet_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1198},{206,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{206,60}}</string>
				<key>sourceSize</key>
				<string>{208,60}</string>
			</dict>

			<key>tx_md5_display_price_bet_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1198},{206,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{206,60}}</string>
				<key>sourceSize</key>
				<string>{208,60}</string>
			</dict>

			<key>tx_md5_icon_hu_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,303},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,80}}</string>
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>

			<key>tx_md5_input_bet_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1201},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{152,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>

			<key>tx_md5_input_bet_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1201},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{152,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>

			<key>tx_md5_input_bet_xiu_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1097},{179,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{179,71}}</string>
				<key>sourceSize</key>
				<string>{184,72}</string>
			</dict>

			<key>tx_md5_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,395},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,50}}</string>
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>

			<key>tx_md5_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,196},{236,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,236}}</string>
				<key>sourceSize</key>
				<string>{236,236}</string>
			</dict>

			<key>tx_md5_session_code.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,446},{154,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{154,50}}</string>
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>

			<key>tx_md5_time_count_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,930},{270,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,270}}</string>
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>

			<key>tx_md5_time_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,238},{112,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{112,64}}</string>
				<key>sourceSize</key>
				<string>{114,64}</string>
			</dict>

			<key>tx_md5_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,446},{524,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{524,80}}</string>
				<key>sourceSize</key>
				<string>{524,89}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1138,1259}</string>
			<key>textureFileName</key>
			<string>TaiXiuMd5.png</string>
			</dict>
		</dict>
</plist>