<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,894},{106,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,107}}</string>
				<key>sourceSize</key>
				<string>{106,107}</string>
			</dict>

			<key>btn_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,222},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,446},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,894},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,105}}</string>
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>

			<key>btn_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,926},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,446},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,221},{208,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,207}}</string>
				<key>sourceSize</key>
				<string>{208,207}</string>
			</dict>

			<key>btn_sieutoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,919},{225,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,95}}</string>
				<key>sourceSize</key>
				<string>{225,95}</string>
			</dict>

			<key>btn_sieutoc_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,509},{225,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,95}}</string>
				<key>sourceSize</key>
				<string>{225,95}</string>
			</dict>

			<key>btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,926},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,222},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,608},{225,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,95}}</string>
				<key>sourceSize</key>
				<string>{225,95}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,919},{225,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,95}}</string>
				<key>sourceSize</key>
				<string>{225,95}</string>
			</dict>

			<key>btn_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,926},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,722},{233,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,112}}</string>
				<key>sourceSize</key>
				<string>{233,112}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{316,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,316}}</string>
				<key>sourceSize</key>
				<string>{316,316}</string>
			</dict>

			<key>item_1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{281,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,15},{281,288}}</string>
				<key>sourceSize</key>
				<string>{316,316}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,673},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{219,219}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,446},{197,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,19},{197,217}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,318},{225,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,189}}</string>
				<key>sourceSize</key>
				<string>{225,189}</string>
			</dict>

			<key>item_3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,822},{179,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,9},{179,170}}</string>
				<key>sourceSize</key>
				<string>{225,189}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{219,219}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,0},{197,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,19},{197,217}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,705},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{219,219}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{197,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,19},{197,217}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,452},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{219,219}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,603},{197,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,19},{197,217}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,222},{219,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,9},{219,228}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_7_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,219},{197,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,10},{197,225}}</string>
				<key>sourceSize</key>
				<string>{249,255}</string>
			</dict>

			<key>item_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>item_8_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,822},{175,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{175,194}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>item_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{255,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,195}}</string>
				<key>sourceSize</key>
				<string>{255,195}</string>
			</dict>

			<key>item_9_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,430},{203,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,13},{203,171}}</string>
				<key>sourceSize</key>
				<string>{255,195}</string>
			</dict>

			<key>muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{264,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,112}}</string>
				<key>sourceSize</key>
				<string>{264,112}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui_game_euro.png</string>
			</dict>
		</dict>
</plist>