<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,559},{803,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{803,19}}</string>
				<key>sourceSize</key>
				<string>{803,19}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{800,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,323}}</string>
				<key>sourceSize</key>
				<string>{800,323}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{800,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,319}}</string>
				<key>sourceSize</key>
				<string>{800,319}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1758},{790,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{790,163}}</string>
				<key>sourceSize</key>
				<string>{790,163}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{841,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{841,45}}</string>
				<key>sourceSize</key>
				<string>{841,45}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{814,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{814,26}}</string>
				<key>sourceSize</key>
				<string>{814,26}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,579},{795,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{795,323}}</string>
				<key>sourceSize</key>
				<string>{795,323}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,903},{786,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{786,315}}</string>
				<key>sourceSize</key>
				<string>{786,315}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{805,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{805,162}}</string>
				<key>sourceSize</key>
				<string>{805,162}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1556},{800,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,201}}</string>
				<key>sourceSize</key>
				<string>{800,201}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1223},{800,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{800,332}}</string>
				<key>sourceSize</key>
				<string>{800,332}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{805,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{805,322}}</string>
				<key>sourceSize</key>
				<string>{805,322}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>bikini_line1.png</string>
			</dict>
		</dict>
</plist>