<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>X1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1436},{181,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,166}}</string>
				<key>sourceSize</key>
				<string>{181,166}</string>
			</dict>

			<key>X2.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1822},{210,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,167}}</string>
				<key>sourceSize</key>
				<string>{210,167}</string>
			</dict>

			<key>X3.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1629},{211,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,192}}</string>
				<key>sourceSize</key>
				<string>{211,192}</string>
			</dict>

			<key>X4.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,721},{210,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,191}}</string>
				<key>sourceSize</key>
				<string>{210,191}</string>
			</dict>

			<key>X5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1436},{212,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,192}}</string>
				<key>sourceSize</key>
				<string>{212,192}</string>
			</dict>

			<key>bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,720}}</string>
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>

			<key>frame_thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1632},{388,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,187}}</string>
				<key>sourceSize</key>
				<string>{388,187}</string>
			</dict>

			<key>frame_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,721},{787,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{787,486}}</string>
				<key>sourceSize</key>
				<string>{787,486}</string>
			</dict>

			<key>frame_xbonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1208},{752,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{752,423}}</string>
				<key>sourceSize</key>
				<string>{752,423}</string>
			</dict>

			<key>item.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,913},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,206}}</string>
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1208},{223,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,227}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>item_miss.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1822},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,206}}</string>
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>

			<key>light_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1632},{367,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,291}}</string>
				<key>sourceSize</key>
				<string>{367,291}</string>
			</dict>

			<key>shadow_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1924},{297,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,54}}</string>
				<key>sourceSize</key>
				<string>{297,54}</string>
			</dict>

			<key>title_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1820},{231,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,85}}</string>
				<key>sourceSize</key>
				<string>{231,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>bikini_bonus.png</string>
			</dict>
		</dict>
</plist>