<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,924},{225,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,114}}</string>
				<key>sourceSize</key>
				<string>{225,114}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,934},{232,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,116}}</string>
				<key>sourceSize</key>
				<string>{232,116}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1509},{230,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,116}}</string>
				<key>sourceSize</key>
				<string>{230,116}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,1691},{234,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,116}}</string>
				<key>sourceSize</key>
				<string>{234,116}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,807},{231,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,116}}</string>
				<key>sourceSize</key>
				<string>{231,116}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,186},{233,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,116}}</string>
				<key>sourceSize</key>
				<string>{233,116}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1392},{233,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,116}}</string>
				<key>sourceSize</key>
				<string>{233,116}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,1874},{236,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,116}}</string>
				<key>sourceSize</key>
				<string>{236,116}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,303},{233,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{233,116}}</string>
				<key>sourceSize</key>
				<string>{233,116}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1509},{232,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,116}}</string>
				<key>sourceSize</key>
				<string>{232,116}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,462},{236,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,116}}</string>
				<key>sourceSize</key>
				<string>{236,116}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,200},{229,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,114}}</string>
				<key>sourceSize</key>
				<string>{229,114}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,1574},{239,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,116}}</string>
				<key>sourceSize</key>
				<string>{239,116}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,818},{236,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236,115}}</string>
				<key>sourceSize</key>
				<string>{236,115}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,586},{238,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,115}}</string>
				<key>sourceSize</key>
				<string>{238,115}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1276},{238,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,115}}</string>
				<key>sourceSize</key>
				<string>{238,115}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,702},{238,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,115}}</string>
				<key>sourceSize</key>
				<string>{238,115}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,1458},{239,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,115}}</string>
				<key>sourceSize</key>
				<string>{239,115}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,85},{229,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,114}}</string>
				<key>sourceSize</key>
				<string>{229,114}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,420},{230,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,114}}</string>
				<key>sourceSize</key>
				<string>{230,114}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,1925},{230,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,114}}</string>
				<key>sourceSize</key>
				<string>{230,114}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,1626},{230,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,116}}</string>
				<key>sourceSize</key>
				<string>{230,116}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,1279},{229,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,116}}</string>
				<key>sourceSize</key>
				<string>{229,116}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,1051},{225,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,116}}</string>
				<key>sourceSize</key>
				<string>{225,116}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,1808},{231,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,116}}</string>
				<key>sourceSize</key>
				<string>{231,116}</string>
			</dict>

			<key>Bảng thưởng.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1813},{441,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,98}}</string>
				<key>sourceSize</key>
				<string>{441,98}</string>
			</dict>

			<key>Chọn dòng.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1912},{363,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,96}}</string>
				<key>sourceSize</key>
				<string>{363,96}</string>
			</dict>

			<key>Lịch sử.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1954},{261,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{261,93}}</string>
				<key>sourceSize</key>
				<string>{261,93}</string>
			</dict>

			<key>Vinh danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1874},{347,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,79}}</string>
				<key>sourceSize</key>
				<string>{347,79}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,944},{351,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,86}}</string>
				<key>sourceSize</key>
				<string>{351,86}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,858},{351,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,85}}</string>
				<key>sourceSize</key>
				<string>{351,85}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1613},{351,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,86}}</string>
				<key>sourceSize</key>
				<string>{351,86}</string>
			</dict>

			<key>btn_chonchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,686},{351,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,85}}</string>
				<key>sourceSize</key>
				<string>{351,85}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1787},{351,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,86}}</string>
				<key>sourceSize</key>
				<string>{351,86}</string>
			</dict>

			<key>btn_chonle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,772},{351,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,85}}</string>
				<key>sourceSize</key>
				<string>{351,85}</string>
			</dict>

			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,186},{270,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,275}}</string>
				<key>sourceSize</key>
				<string>{270,275}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1700},{351,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,86}}</string>
				<key>sourceSize</key>
				<string>{351,86}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1527},{351,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,85}}</string>
				<key>sourceSize</key>
				<string>{351,85}</string>
			</dict>

			<key>btn_tumo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1031},{239,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,244}}</string>
				<key>sourceSize</key>
				<string>{239,244}</string>
			</dict>

			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{753,446}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{753,446}}</string>
				<key>sourceSize</key>
				<string>{753,446}</string>
			</dict>

			<key>frame_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,462},{260,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,123}}</string>
				<key>sourceSize</key>
				<string>{260,123}</string>
			</dict>

			<key>frame_tổng thắng.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1813},{429,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,194}}</string>
				<key>sourceSize</key>
				<string>{429,194}</string>
			</dict>

			<key>ic_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,535},{137,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{137,184}}</string>
				<key>sourceSize</key>
				<string>{170,184}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,720},{111,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,116}}</string>
				<key>sourceSize</key>
				<string>{111,116}</string>
			</dict>

			<key>item_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1051},{231,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,227}}</string>
				<key>sourceSize</key>
				<string>{231,227}</string>
			</dict>

			<key>item_enable.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1080},{371,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{371,377}}</string>
				<key>sourceSize</key>
				<string>{371,377}</string>
			</dict>

			<key>item_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,579},{231,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,227}}</string>
				<key>sourceSize</key>
				<string>{231,227}</string>
			</dict>

			<key>page_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1527},{672,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{672,285}}</string>
				<key>sourceSize</key>
				<string>{674,287}</string>
			</dict>

			<key>page_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,686},{839,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{839,393}}</string>
				<key>sourceSize</key>
				<string>{839,393}</string>
			</dict>

			<key>page_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{959,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{959,499}}</string>
				<key>sourceSize</key>
				<string>{959,499}</string>
			</dict>

			<key>roll.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1567,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1567,84}}</string>
				<key>sourceSize</key>
				<string>{1567,84}</string>
			</dict>

			<key>sangphai.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,586},{66,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,74}}</string>
				<key>sourceSize</key>
				<string>{66,74}</string>
			</dict>

			<key>sangtrai.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1912},{66,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,74}}</string>
				<key>sourceSize</key>
				<string>{66,74}</string>
			</dict>

			<key>shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1458},{203,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,42}}</string>
				<key>sourceSize</key>
				<string>{203,42}</string>
			</dict>

			<key>title_danhsach.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{1408,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1408,50}}</string>
				<key>sourceSize</key>
				<string>{1408,50}</string>
			</dict>

			<key>title_danhsach_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{1352,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1352,49}}</string>
				<key>sourceSize</key>
				<string>{1352,49}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>popup_thantai.png</string>
			</dict>
		</dict>
</plist>