<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1330},{334,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{334,334}}</string>
				<key>sourceSize</key>
				<string>{334,334}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1356,660}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1356,660}}</string>
				<key>sourceSize</key>
				<string>{1356,660}</string>
			</dict>

			<key>bg_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{870,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{870,203}}</string>
				<key>sourceSize</key>
				<string>{870,203}</string>
			</dict>

			<key>bg_cuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1979},{115,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,27}}</string>
				<key>sourceSize</key>
				<string>{115,27}</string>
			</dict>

			<key>bg_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1330},{264,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,459}}</string>
				<key>sourceSize</key>
				<string>{264,459}</string>
			</dict>

			<key>bg_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{437,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{437,10}}</string>
				<key>sourceSize</key>
				<string>{439,12}</string>
			</dict>

			<key>btn_datlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1884},{202,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,75}}</string>
				<key>sourceSize</key>
				<string>{202,75}</string>
			</dict>

			<key>btn_doicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1162},{174,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,75}}</string>
				<key>sourceSize</key>
				<string>{174,75}</string>
			</dict>

			<key>btn_dongy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1960},{201,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,75}}</string>
				<key>sourceSize</key>
				<string>{201,75}</string>
			</dict>

			<key>btn_huy.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1243},{174,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,75}}</string>
				<key>sourceSize</key>
				<string>{174,75}</string>
			</dict>

			<key>chip_100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1434},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>

			<key>chip_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1837},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>

			<key>chip_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1569},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>

			<key>chip_50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1569},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>

			<key>chip_5k.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1703},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>

			<key>dia.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,972},{357,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,357}}</string>
				<key>sourceSize</key>
				<string>{357,357}</string>
			</dict>

			<key>ic_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1019},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,72}}</string>
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>

			<key>ic_ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,942},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1665},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>

			<key>ic_cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1327},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1250},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1703},{103,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,102}}</string>
				<key>sourceSize</key>
				<string>{103,102}</string>
			</dict>

			<key>ic_kq_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,876},{55,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{55,70}}</string>
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>

			<key>ic_kq_ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1019},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_kq_cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,942},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_kq_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1096},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_kq_nai.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1971},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_kq_tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,865},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1806},{103,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,102}}</string>
				<key>sourceSize</key>
				<string>{103,102}</string>
			</dict>

			<key>ic_nai.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,865},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_sangphai.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1243},{45,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,74}}</string>
				<key>sourceSize</key>
				<string>{45,74}</string>
			</dict>

			<key>ic_sangtrai.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1971},{44,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,74}}</string>
				<key>sourceSize</key>
				<string>{44,74}</string>
			</dict>

			<key>ic_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1909},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>

			<key>ic_tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1173},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,76}}</string>
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,865},{103,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,102}}</string>
				<key>sourceSize</key>
				<string>{103,102}</string>
			</dict>

			<key>item_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1790},{202,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,187}}</string>
				<key>sourceSize</key>
				<string>{202,187}</string>
			</dict>

			<key>item_ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1790},{203,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,188}}</string>
				<key>sourceSize</key>
				<string>{203,188}</string>
			</dict>

			<key>item_cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,865},{202,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,188}}</string>
				<key>sourceSize</key>
				<string>{202,188}</string>
			</dict>

			<key>item_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,972},{203,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,189}}</string>
				<key>sourceSize</key>
				<string>{203,189}</string>
			</dict>

			<key>item_nai.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1243},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,190}}</string>
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>

			<key>item_tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1054},{202,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,188}}</string>
				<key>sourceSize</key>
				<string>{202,188}</string>
			</dict>

			<key>line_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1665},{216,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,218}}</string>
				<key>sourceSize</key>
				<string>{216,218}</string>
			</dict>

			<key>spr_dice.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1434},{146,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{146,134}}</string>
				<key>sourceSize</key>
				<string>{153,141}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,876},{366,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,95}}</string>
				<key>sourceSize</key>
				<string>{366,95}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>baucua.png</string>
			</dict>
		</dict>
</plist>