<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{1920,1080}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1920,1080}}</string>
				<key>sourceSize</key>
				<string>{1920,1080}</string>
			</dict>

			<key>bg_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1758},{297,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,47}}</string>
				<key>sourceSize</key>
				<string>{297,47}</string>
			</dict>

			<key>bottom_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1222},{1920,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1920,141}}</string>
				<key>sourceSize</key>
				<string>{1920,141}</string>
			</dict>

			<key>btnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1944},{77,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{77,52}}</string>
				<key>sourceSize</key>
				<string>{78,54}</string>
			</dict>

			<key>btnCreateTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1872},{92,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,71}}</string>
				<key>sourceSize</key>
				<string>{92,71}</string>
			</dict>

			<key>btnQuickPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1806},{135,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,65}}</string>
				<key>sourceSize</key>
				<string>{135,65}</string>
			</dict>

			<key>btn_choingay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1758},{343,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{343,123}}</string>
				<key>sourceSize</key>
				<string>{343,125}</string>
			</dict>

			<key>btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1540},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>

			<key>btn_refersh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1882},{343,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{343,125}}</string>
				<key>sourceSize</key>
				<string>{343,125}</string>
			</dict>

			<key>canhbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1632},{383,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{383,125}}</string>
				<key>sourceSize</key>
				<string>{383,125}</string>
			</dict>

			<key>icon_refesh.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1632},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,71}}</string>
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>

			<key>item_coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1704},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,52}}</string>
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>

			<key>text_chonggianlantuyetdoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1540},{390,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{390,91}}</string>
				<key>sourceSize</key>
				<string>{391,92}</string>
			</dict>

			<key>top_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1920,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1920,140}}</string>
				<key>sourceSize</key>
				<string>{1920,144}</string>
			</dict>

			<key>txt_tienlen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1364},{438,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{438,175}}</string>
				<key>sourceSize</key>
				<string>{438,177}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>tienlen_lobby.png</string>
			</dict>
		</dict>
</plist>