<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1342,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1342,262}}</string>
				<key>sourceSize</key>
				<string>{1342,262}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1316},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1448},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_dongchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1074},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_dongchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1195},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_dongle.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1602},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_dongle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1830},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1830},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,953},{278,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,120}}</string>
				<key>sourceSize</key>
				<string>{278,120}</string>
			</dict>

			<key>data_bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,263},{1340,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1340,605}}</string>
				<key>sourceSize</key>
				<string>{1340,605}</string>
			</dict>

			<key>fame_hesonhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1118},{523,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{523,164}}</string>
				<key>sourceSize</key>
				<string>{523,164}</string>
			</dict>

			<key>frame_soluot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{523,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{523,164}}</string>
				<key>sourceSize</key>
				<string>{523,164}</string>
			</dict>

			<key>frame_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1283},{523,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{523,164}}</string>
				<key>sourceSize</key>
				<string>{523,164}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1602},{435,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{435,176}}</string>
				<key>sourceSize</key>
				<string>{435,176}</string>
			</dict>

			<key>sodu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1448},{502,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{502,153}}</string>
				<key>sourceSize</key>
				<string>{502,153}</string>
			</dict>

			<key>title_bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1779},{395,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,50}}</string>
				<key>sourceSize</key>
				<string>{395,50}</string>
			</dict>

			<key>title_chondong.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1779},{135,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,50}}</string>
				<key>sourceSize</key>
				<string>{135,50}</string>
			</dict>

			<key>title_danhsach_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,869},{1265,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1265,41}}</string>
				<key>sourceSize</key>
				<string>{1265,41}</string>
			</dict>

			<key>title_danhsach_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,911},{1102,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1102,41}}</string>
				<key>sourceSize</key>
				<string>{1102,41}</string>
			</dict>

			<key>title_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1951},{250,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,50}}</string>
				<key>sourceSize</key>
				<string>{250,50}</string>
			</dict>

			<key>title_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2002},{143,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,37}}</string>
				<key>sourceSize</key>
				<string>{143,37}</string>
			</dict>

			<key>title_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1951},{244,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,50}}</string>
				<key>sourceSize</key>
				<string>{244,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>duaxe_en.png</string>
			</dict>
		</dict>
</plist>