<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{850,341}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,341}}</string>
				<key>sourceSize</key>
				<string>{850,341}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,889},{850,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,178}}</string>
				<key>sourceSize</key>
				<string>{850,178}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1068},{850,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,187}}</string>
				<key>sourceSize</key>
				<string>{850,187}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1581},{840,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,250}}</string>
				<key>sourceSize</key>
				<string>{840,250}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1545},{840,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,263}}</string>
				<key>sourceSize</key>
				<string>{840,263}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{840,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,378}}</string>
				<key>sourceSize</key>
				<string>{840,378}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1256},{840,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,324}}</string>
				<key>sourceSize</key>
				<string>{840,324}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,674},{850,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,214}}</string>
				<key>sourceSize</key>
				<string>{850,214}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1256},{840,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,288}}</string>
				<key>sourceSize</key>
				<string>{840,288}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,331}}</string>
				<key>sourceSize</key>
				<string>{850,331}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>duaxe_line20.png</string>
			</dict>
		</dict>
</plist>