<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{392,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,250}}</string>
				<key>sourceSize</key>
				<string>{392,250}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,766},{257,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,48},{257,117}}</string>
				<key>sourceSize</key>
				<string>{257,203}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{281,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,61},{281,116}}</string>
				<key>sourceSize</key>
				<string>{281,233}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,914},{246,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,54},{246,104}}</string>
				<key>sourceSize</key>
				<string>{246,199}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,884},{251,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,36},{251,135}}</string>
				<key>sourceSize</key>
				<string>{251,203}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,667},{204,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,206}}</string>
				<key>sourceSize</key>
				<string>{204,206}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{250,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,21},{250,161}}</string>
				<key>sourceSize</key>
				<string>{250,193}</string>
			</dict>

			<key>blur_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{392,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,250}}</string>
				<key>sourceSize</key>
				<string>{392,250}</string>
			</dict>

			<key>blur_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{257,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,33},{257,147}}</string>
				<key>sourceSize</key>
				<string>{257,203}</string>
			</dict>

			<key>blur_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,619},{273,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,46},{273,146}}</string>
				<key>sourceSize</key>
				<string>{281,233}</string>
			</dict>

			<key>blur_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,350},{246,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,39},{246,132}}</string>
				<key>sourceSize</key>
				<string>{246,199}</string>
			</dict>

			<key>blur_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,502},{251,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,21},{251,164}}</string>
				<key>sourceSize</key>
				<string>{251,203}</string>
			</dict>

			<key>blur_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,350},{203,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{203,206}}</string>
				<key>sourceSize</key>
				<string>{204,206}</string>
			</dict>

			<key>blur_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,162},{248,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{248,187}}</string>
				<key>sourceSize</key>
				<string>{250,193}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>duaxe_item.png</string>
			</dict>
		</dict>
</plist>