<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,749},{842,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,55}}</string>
				<key>sourceSize</key>
				<string>{842,55}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,529},{842,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,219}}</string>
				<key>sourceSize</key>
				<string>{842,219}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1519},{842,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,25}}</string>
				<key>sourceSize</key>
				<string>{842,25}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1484},{842,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,34}}</string>
				<key>sourceSize</key>
				<string>{842,34}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{842,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,343}}</string>
				<key>sourceSize</key>
				<string>{842,343}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{842,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,334}}</string>
				<key>sourceSize</key>
				<string>{842,334}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1545},{842,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,203}}</string>
				<key>sourceSize</key>
				<string>{842,203}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{850,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,176}}</string>
				<key>sourceSize</key>
				<string>{850,176}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{850,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,176}}</string>
				<key>sourceSize</key>
				<string>{850,176}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,174}}</string>
				<key>sourceSize</key>
				<string>{850,174}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>duaxe_line10.png</string>
			</dict>
		</dict>
</plist>