<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{850,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,314}}</string>
				<key>sourceSize</key>
				<string>{850,314}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,305},{850,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,299}}</string>
				<key>sourceSize</key>
				<string>{850,299}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{850,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,304}}</string>
				<key>sourceSize</key>
				<string>{850,304}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1458},{850,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,305}}</string>
				<key>sourceSize</key>
				<string>{850,305}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1294},{850,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,163}}</string>
				<key>sourceSize</key>
				<string>{850,163}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1764},{850,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,213}}</string>
				<key>sourceSize</key>
				<string>{850,213}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{850,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,166}}</string>
				<key>sourceSize</key>
				<string>{850,166}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{850,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,208}}</string>
				<key>sourceSize</key>
				<string>{850,208}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{850,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,288}}</string>
				<key>sourceSize</key>
				<string>{850,288}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,313}}</string>
				<key>sourceSize</key>
				<string>{850,313}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>lline20.png</string>
			</dict>
		</dict>
</plist>