<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{850,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,55}}</string>
				<key>sourceSize</key>
				<string>{850,55}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,325}}</string>
				<key>sourceSize</key>
				<string>{850,325}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,528},{850,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,26}}</string>
				<key>sourceSize</key>
				<string>{850,26}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,493},{850,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,34}}</string>
				<key>sourceSize</key>
				<string>{850,34}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,326},{850,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,166}}</string>
				<key>sourceSize</key>
				<string>{850,166}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,159},{850,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,166}}</string>
				<key>sourceSize</key>
				<string>{850,166}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,555},{850,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,205}}</string>
				<key>sourceSize</key>
				<string>{850,205}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{850,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,158}}</string>
				<key>sourceSize</key>
				<string>{850,158}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,643},{850,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,322}}</string>
				<key>sourceSize</key>
				<string>{850,322}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{850,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,316}}</string>
				<key>sourceSize</key>
				<string>{850,316}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>lline10.png</string>
			</dict>
		</dict>
</plist>