<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,901},{285,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,103}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

			<key>box_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,547},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,489},{282,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{282,78}}</string>
				<key>sourceSize</key>
				<string>{283,82}</string>
			</dict>

			<key>btn_left_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,569},{282,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{282,78}}</string>
				<key>sourceSize</key>
				<string>{283,82}</string>
			</dict>

			<key>btn_mid_.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,727},{266,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{266,75}}</string>
				<key>sourceSize</key>
				<string>{266,79}</string>
			</dict>

			<key>btn_mid_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,804},{266,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{266,77}}</string>
				<key>sourceSize</key>
				<string>{266,82}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,649},{282,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{282,76}}</string>
				<key>sourceSize</key>
				<string>{283,80}</string>
			</dict>

			<key>btn_right_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,410},{282,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{282,77}}</string>
				<key>sourceSize</key>
				<string>{283,82}</string>
			</dict>

			<key>btn_tab_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{285,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,91}}</string>
				<key>sourceSize</key>
				<string>{285,91}</string>
			</dict>

			<key>btn_tab_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,808},{285,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,91}}</string>
				<key>sourceSize</key>
				<string>{285,91}</string>
			</dict>

			<key>frame_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{333,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{333,402}}</string>
				<key>sourceSize</key>
				<string>{333,402}</string>
			</dict>

			<key>frame_rut.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{333,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{333,402}}</string>
				<key>sourceSize</key>
				<string>{333,402}</string>
			</dict>

			<key>gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,198},{285,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,104}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

			<key>green.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,304},{285,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,104}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

			<key>ic_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,494},{63,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,51}}</string>
				<key>sourceSize</key>
				<string>{63,51}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,883},{150,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,79}}</string>
				<key>sourceSize</key>
				<string>{150,79}</string>
			</dict>

			<key>ic_dangxuat.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,410},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,82}}</string>
				<key>sourceSize</key>
				<string>{79,82}</string>
			</dict>

			<key>purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,913},{285,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,103}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

			<key>red.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{285,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,103}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

			<key>toggle_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,727},{108,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,34}}</string>
				<key>sourceSize</key>
				<string>{109,34}</string>
			</dict>

			<key>toggle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,964},{109,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,34}}</string>
				<key>sourceSize</key>
				<string>{109,34}</string>
			</dict>

			<key>yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,93},{285,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,103}}</string>
				<key>sourceSize</key>
				<string>{285,104}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui_popup.png</string>
			</dict>
		</dict>
</plist>