<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,729},{231,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,208}}</string>
				<key>sourceSize</key>
				<string>{231,208}</string>
			</dict>

			<key>bonus_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,203},{184,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,13},{184,182}}</string>
				<key>sourceSize</key>
				<string>{231,208}</string>
			</dict>

			<key>box_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,616},{210,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,86}}</string>
				<key>sourceSize</key>
				<string>{210,86}</string>
			</dict>

			<key>btn_choithat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,0},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>

			<key>btn_choithu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,387},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,183}}</string>
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>

			<key>btn_giam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,410},{51,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,73}}</string>
				<key>sourceSize</key>
				<string>{51,73}</string>
			</dict>

			<key>btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,616},{205,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,197}}</string>
				<key>sourceSize</key>
				<string>{205,197}</string>
			</dict>

			<key>btn_quaynhanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,0},{164,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,112}}</string>
				<key>sourceSize</key>
				<string>{164,112}</string>
			</dict>

			<key>btn_quaynhanh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,305},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,116}}</string>
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>

			<key>btn_tang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,939},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,75}}</string>
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,815},{164,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,112}}</string>
				<key>sourceSize</key>
				<string>{164,112}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,423},{167,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,116}}</string>
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>

			<key>dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,185},{167,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,118}}</string>
				<key>sourceSize</key>
				<string>{167,118}</string>
			</dict>

			<key>ic_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,806},{119,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,120}}</string>
				<key>sourceSize</key>
				<string>{119,120}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,114},{113,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,115}}</string>
				<key>sourceSize</key>
				<string>{113,115}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,0},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,411},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,321},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,231},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,929},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,929},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,928},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,818},{240,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,59},{240,160}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,818},{240,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,53},{240,172}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,743},{163,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,37},{163,180}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,541},{163,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,27},{163,200}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,818},{234,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,28},{234,198}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{233,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,21},{233,212}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,583},{282,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{282,233}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,245},{280,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,11},{280,243}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,348},{282,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,21},{282,233}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{280,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,11},{280,243}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,583},{283,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{283,233}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,316},{281,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,11},{281,243}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{283,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,21},{283,233}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>item_7_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,561},{281,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,11},{281,243}}</string>
				<key>sourceSize</key>
				<string>{290,254}</string>
			</dict>

			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,490},{257,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,237}}</string>
				<key>sourceSize</key>
				<string>{257,237}</string>
			</dict>

			<key>jackpot_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,203},{206,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,18},{206,205}}</string>
				<key>sourceSize</key>
				<string>{257,237}</string>
			</dict>

			<key>muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,815},{196,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,118}}</string>
				<key>sourceSize</key>
				<string>{196,118}</string>
			</dict>

			<key>scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,83},{282,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,231}}</string>
				<key>sourceSize</key>
				<string>{282,231}</string>
			</dict>

			<key>scatter_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,0},{226,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,17},{226,201}}</string>
				<key>sourceSize</key>
				<string>{282,231}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{309,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{309,60}}</string>
				<key>sourceSize</key>
				<string>{309,60}</string>
			</dict>

			<key>title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{320,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,75}}</string>
				<key>sourceSize</key>
				<string>{320,75}</string>
			</dict>

			<key>title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{324,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,81}}</string>
				<key>sourceSize</key>
				<string>{324,81}</string>
			</dict>

			<key>title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{227,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,71}}</string>
				<key>sourceSize</key>
				<string>{227,71}</string>
			</dict>

			<key>tongcuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,490},{230,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,124}}</string>
				<key>sourceSize</key>
				<string>{230,124}</string>
			</dict>

			<key>tongthang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{295,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,124}}</string>
				<key>sourceSize</key>
				<string>{295,124}</string>
			</dict>

			<key>wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,729},{245,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,228}}</string>
				<key>sourceSize</key>
				<string>{245,228}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui_main.png</string>
			</dict>
		</dict>
</plist>