<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>banner_image_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,364},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>banner_overlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,262},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>bg_banner_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{600,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,70}}</string>
				<key>sourceSize</key>
				<string>{600,70}</string>
			</dict>

			<key>bg_checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,769},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>bg_toast.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{836,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{836,50}}</string>
				<key>sourceSize</key>
				<string>{836,50}</string>
			</dict>

			<key>btnSettings.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,540},{160,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,100}}</string>
				<key>sourceSize</key>
				<string>{160,100}</string>
			</dict>

			<key>btn_back_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,880},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,94}}</string>
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>

			<key>btn_bao_mat.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,940},{200,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,60}}</string>
				<key>sourceSize</key>
				<string>{200,60}</string>
			</dict>

			<key>btn_camera.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,736},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>btn_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,784},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,100}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>

			<key>btn_hotline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,683},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,100}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>

			<key>btn_ket_sat.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,313},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>btn_kingwin_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,909},{300,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,68}}</string>
				<key>sourceSize</key>
				<string>{300,68}</string>
			</dict>

			<key>btn_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,869},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,70}}</string>
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>

			<key>btn_nap_rut.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{444,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{444,110}}</string>
				<key>sourceSize</key>
				<string>{444,110}</string>
			</dict>

			<key>btn_nap_rut_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{308,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,68}}</string>
				<key>sourceSize</key>
				<string>{308,68}</string>
			</dict>

			<key>btn_payin.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,736},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>btn_quydinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,885},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,100}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>

			<key>btn_register.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,798},{260,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,70}}</string>
				<key>sourceSize</key>
				<string>{260,70}</string>
			</dict>

			<key>btn_transaction_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,540},{160,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,100}}</string>
				<key>sourceSize</key>
				<string>{160,100}</string>
			</dict>

			<key>btn_vqmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,262},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,100}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>

			<key>cirle_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,363},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,176}}</string>
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>

			<key>footer_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{1600,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1600,130}}</string>
				<key>sourceSize</key>
				<string>{1600,130}</string>
			</dict>

			<key>footer_divider.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,785},{2,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2,130}}</string>
				<key>sourceSize</key>
				<string>{2,130}</string>
			</dict>

			<key>header_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1920,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1920,130}}</string>
				<key>sourceSize</key>
				<string>{1920,130}</string>
			</dict>

			<key>header_background_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,697},{568,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{568,100}}</string>
				<key>sourceSize</key>
				<string>{568,100}</string>
			</dict>

			<key>header_background_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,495},{703,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{703,130}}</string>
				<key>sourceSize</key>
				<string>{703,130}</string>
			</dict>

			<key>header_background_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,364},{703,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{703,130}}</string>
				<key>sourceSize</key>
				<string>{703,130}</string>
			</dict>

			<key>header_btn_hop_thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,363},{160,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,100}}</string>
				<key>sourceSize</key>
				<string>{160,100}</string>
			</dict>

			<key>header_divider.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,785},{2,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2,130}}</string>
				<key>sourceSize</key>
				<string>{2,130}</string>
			</dict>

			<key>light_tour_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,736},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>light_tour_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,869},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>load_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,888},{120,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,16}}</string>
				<key>sourceSize</key>
				<string>{120,16}</string>
			</dict>

			<key>loading_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,262},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>loading_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,641},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>lobby_navi_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,978},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>lobby_navi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,313},{712,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{712,50}}</string>
				<key>sourceSize</key>
				<string>{712,50}</string>
			</dict>

			<key>lobby_navi_default_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,697},{120,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,38}}</string>
				<key>sourceSize</key>
				<string>{120,38}</string>
			</dict>

			<key>lobby_navi_default_150.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,978},{150,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,38}}</string>
				<key>sourceSize</key>
				<string>{150,38}</string>
			</dict>

			<key>lobby_navi_default_160.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{160,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,38}}</string>
				<key>sourceSize</key>
				<string>{160,38}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,785},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,94}}</string>
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>

			<key>logo256x256.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,683},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>mobiphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,978},{123,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,29}}</string>
				<key>sourceSize</key>
				<string>{123,29}</string>
			</dict>

			<key>nodecheckbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,816},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>quangsang.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,785},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>

			<key>sp_vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,785},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>sp_xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,313},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>thanhExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,869},{122,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,18}}</string>
				<key>sourceSize</key>
				<string>{122,18}</string>
			</dict>

			<key>viettel.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,626},{91,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,67}}</string>
				<key>sourceSize</key>
				<string>{91,67}</string>
			</dict>

			<key>vinaphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,978},{125,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,40}}</string>
				<key>sourceSize</key>
				<string>{125,40}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>PlistLobby.png</string>
			<key>realTextureFileName</key>
			<string>PlistLobby.png</string>
			</dict>
		</dict>
</plist>