<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,504},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_10_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,504},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,504},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_11_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,588},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,588},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_12_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,588},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,672},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_13_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,672},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,672},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_14_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,756},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,756},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_15_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,756},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,840},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_16_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,840},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,840},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_17_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,924},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,924},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_18_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,924},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,1008},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_19_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,1008},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_1_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,0},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,1008},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_20_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,1092},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,1092},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_21_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,1092},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,1176},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_22_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,1176},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,1176},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_23_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,1260},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,1260},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_24_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,1260},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,1344},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_25_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,1344},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_2_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,84},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_3_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,84},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_4_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,168},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,168},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_5_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,252},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_6_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,252},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_7_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,336},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,336},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_8_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{142,420},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong_9_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,84}</string>
                <key>textureRect</key>
                <string>{{284,420},{142,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{426,1428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52aa9797e9f0e0dc4718be57aaaf4e9a:af3e8c8dc26c5a2d3258a4809f0ac0ae:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
