<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,795},{162,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,117}}</string>
				<key>sourceSize</key>
				<string>{162,117}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1371},{168,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,116}}</string>
				<key>sourceSize</key>
				<string>{168,116}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1791},{176,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,117}}</string>
				<key>sourceSize</key>
				<string>{176,117}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1907},{173,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,117}}</string>
				<key>sourceSize</key>
				<string>{173,117}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1576},{171,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,117}}</string>
				<key>sourceSize</key>
				<string>{171,117}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1458},{174,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,117}}</string>
				<key>sourceSize</key>
				<string>{174,117}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1909},{174,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,117}}</string>
				<key>sourceSize</key>
				<string>{174,117}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1675},{178,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,115}}</string>
				<key>sourceSize</key>
				<string>{178,115}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1909},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1791},{171,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,115}}</string>
				<key>sourceSize</key>
				<string>{171,115}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1791},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1929},{156,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,117}}</string>
				<key>sourceSize</key>
				<string>{156,117}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1675},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1811},{157,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,117}}</string>
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1030},{161,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,117}}</string>
				<key>sourceSize</key>
				<string>{161,117}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1148},{158,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,117}}</string>
				<key>sourceSize</key>
				<string>{158,117}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,678},{164,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,116}}</string>
				<key>sourceSize</key>
				<string>{164,116}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1488},{155,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,116}}</string>
				<key>sourceSize</key>
				<string>{155,116}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1694},{157,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,116}}</string>
				<key>sourceSize</key>
				<string>{157,116}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,913},{161,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,116}}</string>
				<key>sourceSize</key>
				<string>{161,116}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1717},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1889},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1458},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_chonchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1371},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1631},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_chonle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1544},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,511},{120,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,121}}</string>
				<key>sourceSize</key>
				<string>{120,121}</string>
			</dict>

			<key>btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1458},{216,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,216}}</string>
				<key>sourceSize</key>
				<string>{216,216}</string>
			</dict>

			<key>btn_sieutoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,392},{120,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,118}}</string>
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>

			<key>btn_sieutoc_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1861},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,130}}</string>
				<key>sourceSize</key>
				<string>{129,130}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1803},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,85}}</string>
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1371},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,86}}</string>
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1730},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,118}}</string>
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1730},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,130}}</string>
				<key>sourceSize</key>
				<string>{129,130}</string>
			</dict>

			<key>chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1576},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>chip_100_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1333},{112,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,111}}</string>
				<key>sourceSize</key>
				<string>{112,111}</string>
			</dict>

			<key>chip_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1694},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,96}}</string>
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>

			<key>chip_10k_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1445},{112,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,111}}</string>
				<key>sourceSize</key>
				<string>{112,111}</string>
			</dict>

			<key>chip_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1266},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>chip_1k_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1557},{112,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,111}}</string>
				<key>sourceSize</key>
				<string>{112,111}</string>
			</dict>

			<key>data.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{971,677}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{971,677}}</string>
				<key>sourceSize</key>
				<string>{971,677}</string>
			</dict>

			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,678},{641,692}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,692}}</string>
				<key>sourceSize</key>
				<string>{641,692}</string>
			</dict>

			<key>ic_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1849},{114,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,107}}</string>
				<key>sourceSize</key>
				<string>{114,107}</string>
			</dict>

			<key>ic_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1371},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,85}}</string>
				<key>sourceSize</key>
				<string>{90,85}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,273},{124,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,118}}</string>
				<key>sourceSize</key>
				<string>{124,118}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1488},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,85}}</string>
				<key>sourceSize</key>
				<string>{90,85}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1605},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,85}}</string>
				<key>sourceSize</key>
				<string>{90,85}</string>
			</dict>

			<key>ic_tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1438},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1068},{147,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,130}}</string>
				<key>sourceSize</key>
				<string>{147,130}</string>
			</dict>

			<key>icon1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,678},{146,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{146,156}}</string>
				<key>sourceSize</key>
				<string>{147,156}</string>
			</dict>

			<key>icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,0},{127,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,123}}</string>
				<key>sourceSize</key>
				<string>{127,123}</string>
			</dict>

			<key>icon2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,124},{127,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,148}}</string>
				<key>sourceSize</key>
				<string>{127,148}</string>
			</dict>

			<key>icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1593},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,136}}</string>
				<key>sourceSize</key>
				<string>{134,136}</string>
			</dict>

			<key>icon3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1438},{134,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,154}}</string>
				<key>sourceSize</key>
				<string>{134,158}</string>
			</dict>

			<key>icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,913},{150,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,154}}</string>
				<key>sourceSize</key>
				<string>{150,154}</string>
			</dict>

			<key>icon4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1266},{150,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,171}}</string>
				<key>sourceSize</key>
				<string>{150,177}</string>
			</dict>

			<key>icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1199},{128,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,133}}</string>
				<key>sourceSize</key>
				<string>{128,133}</string>
			</dict>

			<key>icon5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,968},{128,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,152}}</string>
				<key>sourceSize</key>
				<string>{128,152}</string>
			</dict>

			<key>icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,834},{128,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,133}}</string>
				<key>sourceSize</key>
				<string>{128,133}</string>
			</dict>

			<key>icon6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,678},{128,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,155}}</string>
				<key>sourceSize</key>
				<string>{128,155}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gem_UI.png</string>
			</dict>
		</dict>
</plist>