<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,296},{358,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,23}}</string>
				<key>sourceSize</key>
				<string>{358,23}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,320},{351,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,182}}</string>
				<key>sourceSize</key>
				<string>{351,182}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,183},{351,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,182}}</string>
				<key>sourceSize</key>
				<string>{351,182}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{365,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{365,162}}</string>
				<key>sourceSize</key>
				<string>{365,162}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{365,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{365,162}}</string>
				<key>sourceSize</key>
				<string>{365,162}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{365,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{365,162}}</string>
				<key>sourceSize</key>
				<string>{365,162}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,819},{363,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,163}}</string>
				<key>sourceSize</key>
				<string>{363,163}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,556},{329,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,164}}</string>
				<key>sourceSize</key>
				<string>{329,164}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{381,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{381,164}}</string>
				<key>sourceSize</key>
				<string>{381,164}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{381,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{381,164}}</string>
				<key>sourceSize</key>
				<string>{381,164}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,0},{327,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{327,166}}</string>
				<key>sourceSize</key>
				<string>{327,166}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,983},{358,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,23}}</string>
				<key>sourceSize</key>
				<string>{358,23}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,721},{328,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,292}}</string>
				<key>sourceSize</key>
				<string>{328,292}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,983},{358,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,23}}</string>
				<key>sourceSize</key>
				<string>{358,23}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,330},{364,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,320}}</string>
				<key>sourceSize</key>
				<string>{364,320}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,651},{362,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,317}}</string>
				<key>sourceSize</key>
				<string>{362,317}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,366},{342,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,189}}</string>
				<key>sourceSize</key>
				<string>{342,189}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,651},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,295}}</string>
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,295}}</string>
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,0},{351,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,182}}</string>
				<key>sourceSize</key>
				<string>{351,182}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gem_line.png</string>
			</dict>
		</dict>
</plist>