<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
	<dict>
		<key>frames</key> 
			<dict> 
				<key>khungspin_bot</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,1042},{439,36}}</string> 
					 <key>offset</key> 
					<string>{0,-1}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{439,38}</string> 
				</dict> 
				<key>maingame_BG</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,1},{800,369}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{800,369}</string> 
				</dict> 
				<key>buttonsieutoc_disable</key>
				<dict>
 					<key>frame</key> 
					<string>{{746,1161},{103,103}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{103,103}</string> 
				</dict> 
				<key>buttonsieutoc</key>
				<dict>
 					<key>frame</key> 
					<string>{{641,1123},{103,103}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{103,103}</string> 
				</dict> 
				<key>20winline</key>
				<dict>
 					<key>frame</key> 
					<string>{{213,1249},{38,25}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{38,25}</string> 
				</dict> 
				<key>tayduky_bonusgame_BG0</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,372},{800,369}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{800,369}</string> 
				</dict> 
				<key>button_caidat</key>
				<dict>
 					<key>frame</key> 
					<string>{{843,1078},{78,78}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{78,78}</string> 
				</dict> 
				<key>maingame10</key>
				<dict>
 					<key>frame</key> 
					<string>{{704,743},{140,143}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{140,143}</string> 
				</dict> 
				<key>maingame9</key>
				<dict>
 					<key>frame</key> 
					<string>{{276,1080},{198,199}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{198,199}</string> 
				</dict> 
				<key>BGspin</key>
				<dict>
 					<key>frame</key> 
					<string>{{931,1},{39,488}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{39,488}</string> 
				</dict> 
				<key>khungspin_left</key>
				<dict>
 					<key>frame</key> 
					<string>{{803,1},{126,558}}</string> 
					 <key>offset</key> 
					<string>{0,-2}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{126,562}</string> 
				</dict> 
				<key>ketthucsau</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,1249},{210,35}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{210,35}</string> 
				</dict> 
				<key>button_info</key>
				<dict>
 					<key>frame</key> 
					<string>{{912,903},{78,78}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{78,78}</string> 
				</dict> 
				<key>thanhchiacot</key>
				<dict>
 					<key>frame</key> 
					<string>{{972,1},{23,466}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{23,466}</string> 
				</dict> 
				<key>otienthang</key>
				<dict>
 					<key>frame</key> 
					<string>{{403,743},{299,145}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{299,145}</string> 
				</dict> 
				<key>buttondung</key>
				<dict>
 					<key>frame</key> 
					<string>{{442,890},{213,163}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{213,163}</string> 
				</dict> 
				<key>buttonquay</key>
				<dict>
 					<key>frame</key> 
					<string>{{476,1055},{213,163}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{213,163}</string> 
				</dict> 
				<key>Vi</key>
				<dict>
 					<key>frame</key> 
					<string>{{657,890},{231,91}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{231,91}</string> 
				</dict> 
				<key>box_money</key>
				<dict>
 					<key>frame</key> 
					<string>{{843,903},{173,67}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{173,67}</string> 
				</dict> 
				<key>maingame15</key>
				<dict>
 					<key>frame</key> 
					<string>{{750,888},{271,91}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{271,91}</string> 
				</dict> 
				<key>free</key>
				<dict>
 					<key>frame</key> 
					<string>{{803,561},{144,165}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{144,165}</string> 
				</dict> 
				<key>giudetuquay</key>
				<dict>
 					<key>frame</key> 
					<string>{{972,469},{89,23}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{89,23}</string> 
				</dict> 
				<key>khungspin_top</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,953},{439,87}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{439,87}</string> 
				</dict> 
				<key>maingame14</key>
				<dict>
 					<key>frame</key> 
					<string>{{846,728},{173,92}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{173,92}</string> 
				</dict> 
				<key>choithu</key>
				<dict>
 					<key>frame</key> 
					<string>{{851,1158},{112,136}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{112,136}</string> 
				</dict> 
				<key>boxthongbao0</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,743},{400,208}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{400,208}</string> 
				</dict> 
				<key>khung_jackpot</key>
				<dict>
 					<key>frame</key> 
					<string>{{1,1080},{273,167}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{273,167}</string> 
				</dict> 
				<key>button_quaylai</key>
				<dict>
 					<key>frame</key> 
					<string>{{912,983},{78,78}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{78,78}</string> 
				</dict> 
			</dict> 
			<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>maingame.png</string>
			<key>realTextureFileName</key>
			<string>maingame.png</string>
			<key>size</key>
			<string>{996,1285}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>996</integer>
			<key>height</key>
			<integer>1285</integer>
		</dict>
		</dict> 
</plist> 
