<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angrybirds_symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,846},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,138}</string>
                <key>textureRect</key>
                <string>{{756,0},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,846},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{400,846},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{408,0},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{162,160}</string>
                <key>textureRect</key>
                <string>{{682,138},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{600,846},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,138}</string>
                <key>textureRect</key>
                <string>{{0,138},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{800,846},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1046},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{524,0},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{162,160}</string>
                <key>textureRect</key>
                <string>{{0,298},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,1046},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,138}</string>
                <key>textureRect</key>
                <string>{{134,138},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{400,1046},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{600,1046},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{272,0},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{640,0},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{162,160}</string>
                <key>textureRect</key>
                <string>{{162,298},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,198}</string>
                <key>spriteSourceSize</key>
                <string>{166,198}</string>
                <key>textureRect</key>
                <string>{{486,648},{166,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,196}</string>
                <key>spriteSourceSize</key>
                <string>{162,196}</string>
                <key>textureRect</key>
                <string>{{0,648},{162,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,188}</string>
                <key>spriteSourceSize</key>
                <string>{134,188}</string>
                <key>textureRect</key>
                <string>{{500,460},{134,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,180}</string>
                <key>spriteSourceSize</key>
                <string>{128,180}</string>
                <key>textureRect</key>
                <string>{{116,460},{128,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{324,298},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{268,138},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{116,162}</string>
                <key>textureRect</key>
                <string>{{684,298},{116,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,198}</string>
                <key>spriteSourceSize</key>
                <string>{166,198}</string>
                <key>textureRect</key>
                <string>{{652,648},{166,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,196}</string>
                <key>spriteSourceSize</key>
                <string>{162,196}</string>
                <key>textureRect</key>
                <string>{{162,648},{162,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,188}</string>
                <key>spriteSourceSize</key>
                <string>{134,188}</string>
                <key>textureRect</key>
                <string>{{634,460},{134,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,180}</string>
                <key>spriteSourceSize</key>
                <string>{128,180}</string>
                <key>textureRect</key>
                <string>{{244,460},{128,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{444,298},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{406,138},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{116,162}</string>
                <key>textureRect</key>
                <string>{{800,298},{116,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,198}</string>
                <key>spriteSourceSize</key>
                <string>{166,198}</string>
                <key>textureRect</key>
                <string>{{818,648},{166,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,196}</string>
                <key>spriteSourceSize</key>
                <string>{162,196}</string>
                <key>textureRect</key>
                <string>{{324,648},{162,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,188}</string>
                <key>spriteSourceSize</key>
                <string>{134,188}</string>
                <key>textureRect</key>
                <string>{{768,460},{134,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,180}</string>
                <key>spriteSourceSize</key>
                <string>{128,180}</string>
                <key>textureRect</key>
                <string>{{372,460},{128,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{564,298},{120,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{544,138},{138,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angrybirds_symbol_blur_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{116,162}</string>
                <key>textureRect</key>
                <string>{{0,460},{116,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{1000,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee23dd85d209e496c4a15c868a2989b9:487a952c311016ac520a11887b7f8259:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
