<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_BottomUI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1292,100}</string>
                <key>spriteSourceSize</key>
                <string>{1292,100}</string>
                <key>textureRect</key>
                <string>{{596,85},{1292,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoardG_Knot_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,65}</string>
                <key>spriteSourceSize</key>
                <string>{19,65}</string>
                <key>textureRect</key>
                <string>{{394,0},{19,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoardG_String_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,402}</string>
                <key>spriteSourceSize</key>
                <string>{69,402}</string>
                <key>textureRect</key>
                <string>{{848,185},{69,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoardG_String_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,260}</string>
                <key>spriteSourceSize</key>
                <string>{71,260}</string>
                <key>textureRect</key>
                <string>{{777,185},{71,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Close_hanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,192}</string>
                <key>spriteSourceSize</key>
                <string>{74,192}</string>
                <key>textureRect</key>
                <string>{{525,185},{74,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Close_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,59}</string>
                <key>spriteSourceSize</key>
                <string>{63,59}</string>
                <key>textureRect</key>
                <string>{{331,0},{63,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Home_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{616,0},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Info_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{689,0},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Minus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1397,0},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Plus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1476,0},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Setting_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{762,0},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Spin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,212}</string>
                <key>spriteSourceSize</key>
                <string>{178,212}</string>
                <key>textureRect</key>
                <string>{{599,185},{178,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{349,185},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,102}</string>
                <key>spriteSourceSize</key>
                <string>{84,102}</string>
                <key>textureRect</key>
                <string>{{0,185},{84,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Turbo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{1555,0},{174,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JP_Grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,95}</string>
                <key>spriteSourceSize</key>
                <string>{214,95}</string>
                <key>textureRect</key>
                <string>{{382,85},{214,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JP_Major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,89}</string>
                <key>spriteSourceSize</key>
                <string>{204,89}</string>
                <key>textureRect</key>
                <string>{{178,85},{204,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JP_Mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,87}</string>
                <key>textureRect</key>
                <string>{{0,85},{178,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_JP_Minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,85}</string>
                <key>spriteSourceSize</key>
                <string>{186,85}</string>
                <key>textureRect</key>
                <string>{{1729,0},{186,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Line-TotalBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,77}</string>
                <key>spriteSourceSize</key>
                <string>{144,77}</string>
                <key>textureRect</key>
                <string>{{835,0},{144,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TotalWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,110}</string>
                <key>spriteSourceSize</key>
                <string>{169,110}</string>
                <key>textureRect</key>
                <string>{{84,185},{169,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_Wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,72}</string>
                <key>spriteSourceSize</key>
                <string>{203,72}</string>
                <key>textureRect</key>
                <string>{{413,0},{203,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{96,118}</string>
                <key>textureRect</key>
                <string>{{253,185},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPCell_FreeGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{67,0},{132,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JPCell_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,47}</string>
                <key>textureRect</key>
                <string>{{199,0},{132,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{30,0},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopBoard_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,78}</string>
                <key>spriteSourceSize</key>
                <string>{418,78}</string>
                <key>textureRect</key>
                <string>{{979,0},{418,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_main.png</string>
            <key>size</key>
            <string>{1915,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d21ae13c84a2d95a5fee8651c94b58c:d945526a133deb49e7155b15d698601d:acbe9b6c07b16272c141c31cab483b27$</string>
            <key>textureFileName</key>
            <string>UI_main.png</string>
        </dict>
    </dict>
</plist>
