<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ban_xocdia.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,721},{1081,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1081,630}}</string>
				<key>sourceSize</key>
				<string>{1081,630}</string>
			</dict>

			<key>bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,994},{238,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,223}}</string>
				<key>sourceSize</key>
				<string>{238,223}</string>
			</dict>

			<key>bat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,880},{114,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{114,101}}</string>
				<key>sourceSize</key>
				<string>{120,101}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,720}}</string>
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>

			<key>bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1550},{247,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,34}}</string>
				<key>sourceSize</key>
				<string>{247,34}</string>
			</dict>

			<key>bkg_MessRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1533},{90,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,41}}</string>
				<key>sourceSize</key>
				<string>{90,41}</string>
			</dict>

			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1858},{91,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,70}}</string>
				<key>sourceSize</key>
				<string>{91,70}</string>
			</dict>

			<key>chip_100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,0},{155,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,157}}</string>
				<key>sourceSize</key>
				<string>{155,157}</string>
			</dict>

			<key>chip_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,566},{155,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,157}}</string>
				<key>sourceSize</key>
				<string>{155,157}</string>
			</dict>

			<key>chip_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,541},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,155}}</string>
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>

			<key>chip_1m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,724},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,155}}</string>
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>

			<key>chip_5k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,158},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,155}}</string>
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>

			<key>dia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{324,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,334}}</string>
				<key>sourceSize</key>
				<string>{324,334}</string>
			</dict>

			<key>dia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1416},{150,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,116}}</string>
				<key>sourceSize</key>
				<string>{150,116}</string>
			</dict>

			<key>dot_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1533},{30,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,34}}</string>
				<key>sourceSize</key>
				<string>{30,34}</string>
			</dict>

			<key>dot_red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,880},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>dot_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1249},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>

			<key>dot_white_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,1967},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

			<key>frame_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1352},{936,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{936,125}}</string>
				<key>sourceSize</key>
				<string>{936,125}</string>
			</dict>

			<key>frame_cuoc_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1249},{266,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,205}}</string>
				<key>sourceSize</key>
				<string>{266,205}</string>
			</dict>

			<key>frame_cuoc_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,335},{266,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,205}}</string>
				<key>sourceSize</key>
				<string>{266,205}</string>
			</dict>

			<key>frame_cuoc_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,1789},{266,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,205}}</string>
				<key>sourceSize</key>
				<string>{266,205}</string>
			</dict>

			<key>frame_cuoc_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1789},{266,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,205}}</string>
				<key>sourceSize</key>
				<string>{266,205}</string>
			</dict>

			<key>frame_datcuoc_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,721},{468,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,272}}</string>
				<key>sourceSize</key>
				<string>{468,272}</string>
			</dict>

			<key>frame_datcuoc_le.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1585},{469,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,272}}</string>
				<key>sourceSize</key>
				<string>{469,272}</string>
			</dict>

			<key>frame_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,335},{182,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,230}}</string>
				<key>sourceSize</key>
				<string>{182,230}</string>
			</dict>

			<key>frame_muachan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1585},{645,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{645,351}}</string>
				<key>sourceSize</key>
				<string>{645,351}</string>
			</dict>

			<key>frame_muale.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1249},{327,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{327,539}}</string>
				<key>sourceSize</key>
				<string>{327,539}</string>
			</dict>

			<key>frame_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1945},{244,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,96}}</string>
				<key>sourceSize</key>
				<string>{244,96}</string>
			</dict>

			<key>frame_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1858},{369,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,183}}</string>
				<key>sourceSize</key>
				<string>{369,183}</string>
			</dict>

			<key>ic_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1968},{174,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,71}}</string>
				<key>sourceSize</key>
				<string>{174,71}</string>
			</dict>

			<key>ic_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,566},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,1639},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1478},{212,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,68}}</string>
				<key>sourceSize</key>
				<string>{212,68}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1352},{172,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,63}}</string>
				<key>sourceSize</key>
				<string>{172,63}</string>
			</dict>

			<key>ic_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,1748},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>

			<key>ic_sangphai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,1857},{66,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,109}}</string>
				<key>sourceSize</key>
				<string>{66,109}</string>
			</dict>

			<key>ic_sangtrai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1929},{66,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,109}}</string>
				<key>sourceSize</key>
				<string>{66,109}</string>
			</dict>

			<key>ic_users.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1639},{131,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,130}}</string>
				<key>sourceSize</key>
				<string>{131,130}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1968},{215,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,68}}</string>
				<key>sourceSize</key>
				<string>{215,68}</string>
			</dict>

			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1937},{395,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,7}}</string>
				<key>sourceSize</key>
				<string>{395,7}</string>
			</dict>

			<key>load_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1550},{719,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{719,34}}</string>
				<key>sourceSize</key>
				<string>{719,34}</string>
			</dict>

			<key>load_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1478},{751,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{751,71}}</string>
				<key>sourceSize</key>
				<string>{751,71}</string>
			</dict>

			<key>loading_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1945},{235,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,22}}</string>
				<key>sourceSize</key>
				<string>{235,22}</string>
			</dict>

			<key>winline1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1455},{244,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,183}}</string>
				<key>sourceSize</key>
				<string>{244,183}</string>
			</dict>

			<key>winline2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,994},{451,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,254}}</string>
				<key>sourceSize</key>
				<string>{451,254}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>XocDia_InGame.png</string>
			</dict>
		</dict>
</plist>