<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Small_Icon_5dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{338,82},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_ankhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_cunghy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{252,0},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_khobautulinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{336,0},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_kimcuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{78,84}</string>
                <key>textureRect</key>
                <string>{{78,82},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{414,0},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_sontinhthuytinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,84}</string>
                <key>spriteSourceSize</key>
                <string>{91,84}</string>
                <key>textureRect</key>
                <string>{{156,82},{91,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{90,0},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_tayduky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_thantai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{429,82},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_trenduoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{174,0},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small_Icon_witcher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,89}</string>
                <key>textureRect</key>
                <string>{{247,82},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icontophu.png</string>
            <key>size</key>
            <string>{507,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60424086da01c315736ab940b986fd1d:7bf519abd945fe33682e3aba2b2f6c0f:fc5ed9900d1287b1cc937ceabf701df2$</string>
            <key>textureFileName</key>
            <string>icontophu.png</string>
        </dict>
    </dict>
</plist>
