<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0ffca778-7e4b-4ce6-8338-9eb0545bd68b.a979c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1195,669}</string>
                <key>spriteSourceSize</key>
                <string>{1195,671}</string>
                <key>textureRect</key>
                <string>{{1,1},{1195,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,364}</string>
                <key>spriteSourceSize</key>
                <string>{13,364}</string>
                <key>textureRect</key>
                <string>{{1172,1341},{13,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1195,667}</string>
                <key>spriteSourceSize</key>
                <string>{1195,671}</string>
                <key>textureRect</key>
                <string>{{1,672},{1195,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,440}</string>
                <key>spriteSourceSize</key>
                <string>{294,440}</string>
                <key>textureRect</key>
                <string>{{586,1341},{290,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{290,438}</string>
                <key>spriteSourceSize</key>
                <string>{294,438}</string>
                <key>textureRect</key>
                <string>{{1490,888},{290,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bcr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,222}</string>
                <key>spriteSourceSize</key>
                <string>{213,222}</string>
                <key>textureRect</key>
                <string>{{1782,226},{213,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,56}</string>
                <key>spriteSourceSize</key>
                <string>{191,56}</string>
                <key>textureRect</key>
                <string>{{1782,1122},{191,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caorua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{670,1783},{217,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>catte.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1,1785},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{224,1785},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{447,1785},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{893,1781},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,222}</string>
                <key>spriteSourceSize</key>
                <string>{213,222}</string>
                <key>textureRect</key>
                <string>{{1782,450},{213,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>livecasino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,442}</string>
                <key>spriteSourceSize</key>
                <string>{295,442}</string>
                <key>textureRect</key>
                <string>{{1,1341},{291,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{290,441}</string>
                <key>spriteSourceSize</key>
                <string>{294,441}</string>
                <key>textureRect</key>
                <string>{{1198,892},{290,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1116,1781},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minipk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,222}</string>
                <key>spriteSourceSize</key>
                <string>{213,222}</string>
                <key>textureRect</key>
                <string>{{1782,674},{213,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1187,1341},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>othethao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{216,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,224}</string>
                <key>textureRect</key>
                <string>{{1562,1781},{216,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1187,1564},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1404,1335},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sicbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{290,442}</string>
                <key>spriteSourceSize</key>
                <string>{294,442}</string>
                <key>textureRect</key>
                <string>{{1490,1},{290,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sthethao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,223}</string>
                <key>spriteSourceSize</key>
                <string>{213,223}</string>
                <key>textureRect</key>
                <string>{{1782,1},{213,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,441}</string>
                <key>spriteSourceSize</key>
                <string>{294,441}</string>
                <key>textureRect</key>
                <string>{{1490,445},{290,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{290,443}</string>
                <key>spriteSourceSize</key>
                <string>{294,443}</string>
                <key>textureRect</key>
                <string>{{1198,447},{290,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thethao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,438}</string>
                <key>spriteSourceSize</key>
                <string>{292,438}</string>
                <key>textureRect</key>
                <string>{{878,1341},{292,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tldl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1410,1558},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,222}</string>
                <key>spriteSourceSize</key>
                <string>{213,222}</string>
                <key>textureRect</key>
                <string>{{1782,898},{213,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trenduoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1339,1781},{215,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{290,444}</string>
                <key>spriteSourceSize</key>
                <string>{292,444}</string>
                <key>textureRect</key>
                <string>{{1198,1},{290,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,442}</string>
                <key>spriteSourceSize</key>
                <string>{292,442}</string>
                <key>textureRect</key>
                <string>{{294,1341},{290,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xidach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1621,1328},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{217,221}</string>
                <key>textureRect</key>
                <string>{{1627,1551},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1996,2001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022ddcf54d590466624e335527620176:a0c6a7068c40a0259ee824fd5466bf5b:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
