<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
	<dict>
		<key>frames</key> 
			<dict> 
				<key>banBachho</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,690},{984,65}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{984,65}</string> 
				</dict> 
				<key>banChung</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,235},{984,75}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{984,75}</string> 
				</dict> 
				<key>banChung2</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,313},{984,75}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{984,75}</string> 
				</dict> 
				<key>banHuyenVu</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,547},{987,69}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{987,69}</string> 
				</dict> 
				<key>banLan</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,391},{984,75}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{984,75}</string> 
				</dict> 
				<key>banThuong</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,619},{986,68}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{986,68}</string> 
				</dict> 
				<key>boderFooterLeft</key>
				<dict>
 					<key>frame</key> 
					<string>{{1197,2},{405,100}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{405,100}</string> 
				</dict> 
				<key>boderFooterRight</key>
				<dict>
 					<key>frame</key> 
					<string>{{581,758},{405,100}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{405,100}</string> 
				</dict> 
				<key>borderLeft</key>
				<dict>
 					<key>frame</key> 
					<string>{{1132,105},{203,362}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{203,362}</string> 
				</dict> 
				<key>borderMask</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,2},{1192,66}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{1192,66}</string> 
				</dict> 
				<key>btnChoiNhanhOn</key>
				<dict>
 					<key>frame</key> 
					<string>{{1286,679},{280,73}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{280,73}</string> 
				</dict> 
				<key>btnTaoBanOn</key>
				<dict>
 					<key>frame</key> 
					<string>{{1283,755},{284,73}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{284,73}</string> 
				</dict> 
				<key>header</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,71},{1107,79}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{1107,79}</string> 
				</dict> 
				<key>headerGameTo</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,153},{1107,79}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{1107,79}</string> 
				</dict> 
				<key>iConNews</key>
				<dict>
 					<key>frame</key> 
					<string>{{1283,831},{57,72}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{57,72}</string> 
				</dict> 
				<key>icChoiNhanh</key>
				<dict>
 					<key>frame</key> 
					<string>{{1419,831},{68,37}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{68,37}</string> 
				</dict> 
				<key>icClock</key>
				<dict>
 					<key>frame</key> 
					<string>{{1112,71},{28,32}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{28,32}</string> 
				</dict> 
				<key>icHuongDan</key>
				<dict>
 					<key>frame</key> 
					<string>{{1559,540},{42,40}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{42,40}</string> 
				</dict> 
				<key>icMoneyMini</key>
				<dict>
 					<key>frame</key> 
					<string>{{1559,486},{35,51}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{35,51}</string> 
				</dict> 
				<key>icRank</key>
				<dict>
 					<key>frame</key> 
					<string>{{1358,831},{58,56}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{58,56}</string> 
				</dict> 
				<key>icTaoBan</key>
				<dict>
 					<key>frame</key> 
					<string>{{1490,831},{68,37}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{68,37}</string> 
				</dict> 
				<key>iconBanChung</key>
				<dict>
 					<key>frame</key> 
					<string>{{989,235},{291,140}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{291,140}</string> 
				</dict> 
				<key>iconBanChungXocDia</key>
				<dict>
 					<key>frame</key> 
					<string>{{992,529},{291,140}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{291,140}</string> 
				</dict> 
				<key>iconBanRieng</key>
				<dict>
 					<key>frame</key> 
					<string>{{989,720},{291,140}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{291,140}</string> 
				</dict> 
				<key>loadingBanChung</key>
				<dict>
 					<key>frame</key> 
					<string>{{1132,470},{186,40}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{186,40}</string> 
				</dict> 
				<key>loadingBanChungCopy7</key>
				<dict>
 					<key>frame</key> 
					<string>{{991,672},{292,45}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{292,45}</string> 
				</dict> 
				<key>loadingonline</key>
				<dict>
 					<key>frame</key> 
					<string>{{1559,105},{212,43}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{212,43}</string> 
				</dict> 
				<key>popupnoti</key>
				<dict>
 					<key>frame</key> 
					<string>{{1506,105},{548,50}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{548,50}</string> 
				</dict> 
				<key>roomThuongXD</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,469},{984,75}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{984,75}</string> 
				</dict> 
				<key>textCongBangChongDanhVay</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,851},{419,37}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{419,37}</string> 
				</dict> 
				<key>topCenter</key>
				<dict>
 					<key>frame</key> 
					<string>{{1431,105},{552,72}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{552,72}</string> 
				</dict> 
				<key>topLeft</key>
				<dict>
 					<key>frame</key> 
					<string>{{1338,105},{571,90}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{571,90}</string> 
				</dict> 
				<key>topRight</key>
				<dict>
 					<key>frame</key> 
					<string>{{2,758},{576,90}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{576,90}</string> 
				</dict> 
				<key>txtChoiNhanh</key>
				<dict>
 					<key>frame</key> 
					<string>{{1559,320},{163,25}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<true /> 
 					<key>sourceSize</key> 
					 <string>{163,25}</string> 
				</dict> 
				<key>txtTaoBan</key>
				<dict>
 					<key>frame</key> 
					<string>{{424,851},{110,32}}</string> 
					 <key>offset</key> 
					<string>{0,0}</string> 
					 <key>rotated</key> 
					<false /> 
 					<key>sourceSize</key> 
					 <string>{110,32}</string> 
				</dict> 
			</dict> 
			<key>metadata</key>
			<dict>
				<key>format</key>
				<integer>2</integer>
				<key>textureFileName</key>
				<string>RoomUI.png</string>
				<key>realTextureFileName</key>
				<string>RoomUI.png</string>
				<key>size</key>
				<string>{1604,890}</string>
			</dict>
			<key>texture</key>
			<dict>
				<key>width</key>
				<integer>1604</integer>
				<key>height</key>
				<integer>890</integer>
			</dict>
		</dict> 
</plist> 
