<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_choithat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1951},{239,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,69}}</string>
				<key>sourceSize</key>
				<string>{239,69}</string>
			</dict>

			<key>btn_choithu.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1951},{239,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,68}}</string>
				<key>sourceSize</key>
				<string>{239,68}</string>
			</dict>

			<key>btn_chondong.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1835},{131,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,64}}</string>
				<key>sourceSize</key>
				<string>{131,64}</string>
			</dict>

			<key>btn_quaynhanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1605},{280,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,69}}</string>
				<key>sourceSize</key>
				<string>{280,69}</string>
			</dict>

			<key>btn_quaynhanh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1466},{280,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,68}}</string>
				<key>sourceSize</key>
				<string>{280,68}</string>
			</dict>

			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1675},{270,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,275}}</string>
				<key>sourceSize</key>
				<string>{270,275}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1535},{280,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,69}}</string>
				<key>sourceSize</key>
				<string>{280,69}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1397},{280,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,68}}</string>
				<key>sourceSize</key>
				<string>{280,68}</string>
			</dict>

			<key>eff_Star.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2021},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,25}}</string>
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>

			<key>eff_Star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1688},{180,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,183}}</string>
				<key>sourceSize</key>
				<string>{180,183}</string>
			</dict>

			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1215,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1215,698}}</string>
				<key>sourceSize</key>
				<string>{1215,698}</string>
			</dict>

			<key>ic_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1058},{137,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{137,184}}</string>
				<key>sourceSize</key>
				<string>{170,184}</string>
			</dict>

			<key>ic_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1239},{111,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,116}}</string>
				<key>sourceSize</key>
				<string>{111,116}</string>
			</dict>

			<key>ic_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1449},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,75}}</string>
				<key>sourceSize</key>
				<string>{69,75}</string>
			</dict>

			<key>ic_giam.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1602},{58,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,61}}</string>
				<key>sourceSize</key>
				<string>{58,61}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1525},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,75}}</string>
				<key>sourceSize</key>
				<string>{69,75}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1835},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,75}}</string>
				<key>sourceSize</key>
				<string>{69,75}</string>
			</dict>

			<key>ic_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1449},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,75}}</string>
				<key>sourceSize</key>
				<string>{69,75}</string>
			</dict>

			<key>ic_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1525},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,75}}</string>
				<key>sourceSize</key>
				<string>{69,75}</string>
			</dict>

			<key>ic_them.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1602},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,53}}</string>
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>

			<key>item1.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1675},{220,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,159}}</string>
				<key>sourceSize</key>
				<string>{220,159}</string>
			</dict>

			<key>item10.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,699},{201,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,197}}</string>
				<key>sourceSize</key>
				<string>{201,197}</string>
			</dict>

			<key>item10_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,897},{201,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,197}}</string>
				<key>sourceSize</key>
				<string>{201,197}</string>
			</dict>

			<key>item11.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1064},{215,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,174}}</string>
				<key>sourceSize</key>
				<string>{215,174}</string>
			</dict>

			<key>item11_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1835},{215,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,174}}</string>
				<key>sourceSize</key>
				<string>{215,174}</string>
			</dict>

			<key>item1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,904},{219,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,159}}</string>
				<key>sourceSize</key>
				<string>{220,159}</string>
			</dict>

			<key>item2.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1279},{179,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,186}}</string>
				<key>sourceSize</key>
				<string>{179,186}</string>
			</dict>

			<key>item2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1063},{178,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{178,186}}</string>
				<key>sourceSize</key>
				<string>{179,186}</string>
			</dict>

			<key>item3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,1646},{155,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,188}}</string>
				<key>sourceSize</key>
				<string>{155,188}</string>
			</dict>

			<key>item3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,1835},{154,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{154,188}}</string>
				<key>sourceSize</key>
				<string>{155,188}</string>
			</dict>

			<key>item4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1602},{209,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,209}}</string>
				<key>sourceSize</key>
				<string>{209,209}</string>
			</dict>

			<key>item4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1239},{209,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,209}}</string>
				<key>sourceSize</key>
				<string>{209,209}</string>
			</dict>

			<key>item5.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1872},{167,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,174}}</string>
				<key>sourceSize</key>
				<string>{167,174}</string>
			</dict>

			<key>item5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,883},{167,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,174}}</string>
				<key>sourceSize</key>
				<string>{167,174}</string>
			</dict>

			<key>item6.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1449},{199,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,238}}</string>
				<key>sourceSize</key>
				<string>{199,238}</string>
			</dict>

			<key>item6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1812},{199,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,216}}</string>
				<key>sourceSize</key>
				<string>{199,216}</string>
			</dict>

			<key>item7.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,699},{219,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,204}}</string>
				<key>sourceSize</key>
				<string>{219,204}</string>
			</dict>

			<key>item7_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1397},{219,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,204}}</string>
				<key>sourceSize</key>
				<string>{219,204}</string>
			</dict>

			<key>item8.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,699},{191,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,183}}</string>
				<key>sourceSize</key>
				<string>{191,183}</string>
			</dict>

			<key>item8_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1095},{191,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,183}}</string>
				<key>sourceSize</key>
				<string>{191,183}</string>
			</dict>

			<key>item9.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,883},{182,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,179}}</string>
				<key>sourceSize</key>
				<string>{182,179}</string>
			</dict>

			<key>item9_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1466},{178,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,179}}</string>
				<key>sourceSize</key>
				<string>{182,179}</string>
			</dict>

			<key>wildx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{361,697}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{361,697}}</string>
				<key>sourceSize</key>
				<string>{361,697}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>ui_thantai.png</string>
			</dict>
		</dict>
</plist>