<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1794},{665,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{665,149}}</string>
				<key>sourceSize</key>
				<string>{665,149}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1501},{675,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{675,163}}</string>
				<key>sourceSize</key>
				<string>{675,163}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1325},{678,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{678,175}}</string>
				<key>sourceSize</key>
				<string>{678,175}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,571},{680,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{680,162}}</string>
				<key>sourceSize</key>
				<string>{680,162}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{684,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{684,158}}</string>
				<key>sourceSize</key>
				<string>{684,160}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,734},{679,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{679,290}}</string>
				<key>sourceSize</key>
				<string>{679,290}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1025},{671,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{671,284}}</string>
				<key>sourceSize</key>
				<string>{671,284}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1025},{678,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{678,299}}</string>
				<key>sourceSize</key>
				<string>{680,299}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1019,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1019,411}}</string>
				<key>sourceSize</key>
				<string>{1019,411}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,734},{670,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{670,290}}</string>
				<key>sourceSize</key>
				<string>{670,290}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1665},{675,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{675,292}}</string>
				<key>sourceSize</key>
				<string>{675,292}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,412},{660,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{660,293}}</string>
				<key>sourceSize</key>
				<string>{662,293}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1501},{674,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{674,292}}</string>
				<key>sourceSize</key>
				<string>{674,292}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>line2_thantai.png</string>
			</dict>
		</dict>
</plist>