<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>borderDiamondBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,379}</string>
                <key>spriteSourceSize</key>
                <string>{379,379}</string>
                <key>textureRect</key>
                <string>{{550,214},{379,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borderMoneyJackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,54}</string>
                <key>spriteSourceSize</key>
                <string>{241,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{241,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borderTable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{747,488}</string>
                <key>spriteSourceSize</key>
                <string>{747,488}</string>
                <key>textureRect</key>
                <string>{{0,593},{747,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{241,0},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn100Sellect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{386,0},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn10K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{531,0},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn10KSellect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{676,0},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn1K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{0,59},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn1KSellect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{145,59},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnQuay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{290,134},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSet20Dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{290,59},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{435,134},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSieutocSellect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{580,134},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTuquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{0,134},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTuquaySellect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,78}</string>
                <key>spriteSourceSize</key>
                <string>{145,78}</string>
                <key>textureRect</key>
                <string>{{145,134},{145,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icBxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{435,59},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{703,59},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icHoidap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{498,59},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{561,59},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{725,134},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,95}</string>
                <key>textureRect</key>
                <string>{{313,214},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{776,59},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{160,214},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,75}</string>
                <key>spriteSourceSize</key>
                <string>{78,75}</string>
                <key>textureRect</key>
                <string>{{851,59},{78,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{235,214},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,72}</string>
                <key>spriteSourceSize</key>
                <string>{79,72}</string>
                <key>textureRect</key>
                <string>{{624,59},{79,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,88}</string>
                <key>textureRect</key>
                <string>{{80,214},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{805,134},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{392,214},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,214},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{472,214},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kc.png</string>
            <key>size</key>
            <string>{929,1081}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534e132e95c4e7e15cb2a40144df4820:5406bc1e84800da69b004656aff38a13:27ce5efc7d49bf16e86dfb8ac2ab35f0$</string>
            <key>textureFileName</key>
            <string>kc.png</string>
        </dict>
    </dict>
</plist>
