<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,332},{151,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,165}}</string>
				<key>sourceSize</key>
				<string>{151,165}</string>
			</dict>

			<key>icon1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{151,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,5},{151,192}}</string>
				<key>sourceSize</key>
				<string>{169,197}</string>
			</dict>

			<key>icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{153,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,128}}</string>
				<key>sourceSize</key>
				<string>{153,128}</string>
			</dict>

			<key>icon2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,193},{151,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{151,146}}</string>
				<key>sourceSize</key>
				<string>{153,146}</string>
			</dict>

			<key>icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{170,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,155}}</string>
				<key>sourceSize</key>
				<string>{170,155}</string>
			</dict>

			<key>icon3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,156},{170,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,175}}</string>
				<key>sourceSize</key>
				<string>{170,175}</string>
			</dict>

			<key>icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{200,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,158}}</string>
				<key>sourceSize</key>
				<string>{200,158}</string>
			</dict>

			<key>icon4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,159},{200,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,176}}</string>
				<key>sourceSize</key>
				<string>{200,176}</string>
			</dict>

			<key>icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,336},{175,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,153}}</string>
				<key>sourceSize</key>
				<string>{175,153}</string>
			</dict>

			<key>icon5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,336},{174,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,7},{174,172}}</string>
				<key>sourceSize</key>
				<string>{175,179}</string>
			</dict>

			<key>icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{230,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,172}}</string>
				<key>sourceSize</key>
				<string>{230,172}</string>
			</dict>

			<key>icon6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{230,188}}</string>
				<key>sourceSize</key>
				<string>{230,192}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>icon_xeng.png</string>
			</dict>
		</dict>
</plist>