<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1603},{162,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,117}}</string>
				<key>sourceSize</key>
				<string>{162,117}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,118},{168,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,116}}</string>
				<key>sourceSize</key>
				<string>{168,116}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,236},{176,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,117}}</string>
				<key>sourceSize</key>
				<string>{176,117}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1603},{173,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,117}}</string>
				<key>sourceSize</key>
				<string>{173,117}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{171,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,117}}</string>
				<key>sourceSize</key>
				<string>{171,117}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,618},{174,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,117}}</string>
				<key>sourceSize</key>
				<string>{174,117}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1485},{174,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,117}}</string>
				<key>sourceSize</key>
				<string>{174,117}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1887},{178,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,115}}</string>
				<key>sourceSize</key>
				<string>{178,115}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1887},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1721},{171,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,115}}</string>
				<key>sourceSize</key>
				<string>{171,115}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1887},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1838},{156,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,117}}</string>
				<key>sourceSize</key>
				<string>{156,117}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,236},{174,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,115}}</string>
				<key>sourceSize</key>
				<string>{174,115}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,0},{157,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,117}}</string>
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1485},{161,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,117}}</string>
				<key>sourceSize</key>
				<string>{161,117}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,118},{158,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,117}}</string>
				<key>sourceSize</key>
				<string>{158,117}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1837},{164,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,116}}</string>
				<key>sourceSize</key>
				<string>{164,116}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,618},{155,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,116}}</string>
				<key>sourceSize</key>
				<string>{155,116}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,1721},{157,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,116}}</string>
				<key>sourceSize</key>
				<string>{157,116}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,618},{161,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,116}}</string>
				<key>sourceSize</key>
				<string>{161,116}</string>
			</dict>

			<key>line-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1731},{470,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,23}}</string>
				<key>sourceSize</key>
				<string>{470,23}</string>
			</dict>

			<key>line-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,0},{460,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,235}}</string>
				<key>sourceSize</key>
				<string>{460,235}</string>
			</dict>

			<key>line-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1755},{461,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{461,235}}</string>
				<key>sourceSize</key>
				<string>{461,235}</string>
			</dict>

			<key>line-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,844},{479,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{479,208}}</string>
				<key>sourceSize</key>
				<string>{479,208}</string>
			</dict>

			<key>line-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{479,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{479,208}}</string>
				<key>sourceSize</key>
				<string>{479,208}</string>
			</dict>

			<key>line-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{479,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{479,208}}</string>
				<key>sourceSize</key>
				<string>{479,208}</string>
			</dict>

			<key>line-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1472},{477,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{477,210}}</string>
				<key>sourceSize</key>
				<string>{477,210}</string>
			</dict>

			<key>line-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1059},{432,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{432,211}}</string>
				<key>sourceSize</key>
				<string>{432,211}</string>
			</dict>

			<key>line-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{502,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{502,212}}</string>
				<key>sourceSize</key>
				<string>{502,212}</string>
			</dict>

			<key>line-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{502,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{502,212}}</string>
				<key>sourceSize</key>
				<string>{502,212}</string>
			</dict>

			<key>line-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1271},{429,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,213}}</string>
				<key>sourceSize</key>
				<string>{429,213}</string>
			</dict>

			<key>line-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1683},{470,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,23}}</string>
				<key>sourceSize</key>
				<string>{470,23}</string>
			</dict>

			<key>line-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,236},{430,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,381}}</string>
				<key>sourceSize</key>
				<string>{430,381}</string>
			</dict>

			<key>line-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1707},{470,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,23}}</string>
				<key>sourceSize</key>
				<string>{470,23}</string>
			</dict>

			<key>line-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1053},{478,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,418}}</string>
				<key>sourceSize</key>
				<string>{478,418}</string>
			</dict>

			<key>line-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,1472},{476,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{476,414}}</string>
				<key>sourceSize</key>
				<string>{476,414}</string>
			</dict>

			<key>line-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,813},{449,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,245}}</string>
				<key>sourceSize</key>
				<string>{449,245}</string>
			</dict>

			<key>line-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1053},{473,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,386}}</string>
				<key>sourceSize</key>
				<string>{473,386}</string>
			</dict>

			<key>line-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,426},{473,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{473,386}}</string>
				<key>sourceSize</key>
				<string>{473,386}</string>
			</dict>

			<key>line-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,813},{460,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,235}}</string>
				<key>sourceSize</key>
				<string>{460,235}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>lines.png</string>
			</dict>
		</dict>
</plist>