<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bangthuong_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,87}</string>
                <key>spriteSourceSize</key>
                <string>{221,87}</string>
                <key>textureRect</key>
                <string>{{1784,239},{221,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bg_napcoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,58}</string>
                <key>spriteSourceSize</key>
                <string>{221,58}</string>
                <key>textureRect</key>
                <string>{{997,1921},{221,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bg_slots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{994,536}</string>
                <key>spriteSourceSize</key>
                <string>{994,536}</string>
                <key>textureRect</key>
                <string>{{1,1445},{994,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bg_so_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,87}</string>
                <key>spriteSourceSize</key>
                <string>{236,87}</string>
                <key>textureRect</key>
                <string>{{1784,1},{236,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bg_so_phong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,87}</string>
                <key>spriteSourceSize</key>
                <string>{153,87}</string>
                <key>textureRect</key>
                <string>{{1741,1250},{153,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bg_thongtin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,122}</string>
                <key>spriteSourceSize</key>
                <string>{424,122}</string>
                <key>textureRect</key>
                <string>{{1677,650},{424,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1218,112}</string>
                <key>spriteSourceSize</key>
                <string>{1218,112}</string>
                <key>textureRect</key>
                <string>{{1563,1},{1218,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,87}</string>
                <key>textureRect</key>
                <string>{{1784,462},{172,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_btn_bangthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1775,1076},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_btn_quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,87}</string>
                <key>spriteSourceSize</key>
                <string>{221,87}</string>
                <key>textureRect</key>
                <string>{{1563,1221},{221,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_btn_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,87}</string>
                <key>textureRect</key>
                <string>{{1652,1250},{172,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_btn_sieutoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,96}</string>
                <key>textureRect</key>
                <string>{{1677,1076},{172,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_khungtien_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,105}</string>
                <key>spriteSourceSize</key>
                <string>{647,105}</string>
                <key>textureRect</key>
                <string>{{1677,1},{647,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_win_jackpot_bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,122}</string>
                <key>spriteSourceSize</key>
                <string>{424,122}</string>
                <key>textureRect</key>
                <string>{{1677,650},{424,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_bg_dathang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,70}</string>
                <key>spriteSourceSize</key>
                <string>{151,70}</string>
                <key>textureRect</key>
                <string>{{1801,636},{151,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_continue_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,87}</string>
                <key>textureRect</key>
                <string>{{1220,1921},{172,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_huongdan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{805,474}</string>
                <key>spriteSourceSize</key>
                <string>{805,474}</string>
                <key>textureRect</key>
                <string>{{997,1445},{805,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_huongdan_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,87}</string>
                <key>textureRect</key>
                <string>{{1394,1921},{172,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_item_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,85}</string>
                <key>spriteSourceSize</key>
                <string>{129,85}</string>
                <key>textureRect</key>
                <string>{{1742,1921},{129,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_stop_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,87}</string>
                <key>textureRect</key>
                <string>{{1568,1921},{172,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>thantaibottom.png</string>
            <key>size</key>
            <string>{1872,2009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6011d9c9f25a342388e572cf5c69ac06:f0e0b9da0db4a2bb013b173f4f0eeb29:ce9702b4ac6c7654b002e5b2d3d53d74$</string>
            <key>textureFileName</key>
            <string>thantaibottom.png</string>
        </dict>
    </dict>
</plist>
