<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,1},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,97},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,193},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,193},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,289},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,289},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,385},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,385},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,481},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,481},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,577},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,577},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,673},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,673},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,769},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,769},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,865},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,865},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,961},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,961},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,1057},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,1057},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,1153},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,1153},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,1249},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,1249},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{1,1345},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{98,1345},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1,1441},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatar.png</string>
            <key>size</key>
            <string>{194,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a4c4843f01de4615101316523f4ec96:63ff94eab02607a42f8c65b382ae11ed:db3594e7e80887c479b4f04a5ee0989e$</string>
            <key>textureFileName</key>
            <string>avatar.png</string>
        </dict>
    </dict>
</plist>
