<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,777},{179,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,140}}</string>
				<key>sourceSize</key>
				<string>{179,140}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,774},{177,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,143}}</string>
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,143},{177,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,138}}</string>
				<key>sourceSize</key>
				<string>{177,138}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,214},{178,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,135}}</string>
				<key>sourceSize</key>
				<string>{178,135}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,875},{178,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,136}}</string>
				<key>sourceSize</key>
				<string>{178,136}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,0},{178,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,137}}</string>
				<key>sourceSize</key>
				<string>{178,137}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,633},{178,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,139}}</string>
				<key>sourceSize</key>
				<string>{178,139}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,139},{178,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,141}}</string>
				<key>sourceSize</key>
				<string>{178,141}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,351},{178,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,140}}</string>
				<key>sourceSize</key>
				<string>{178,140}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{177,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,141}}</string>
				<key>sourceSize</key>
				<string>{177,141}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,774},{177,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,141}}</string>
				<key>sourceSize</key>
				<string>{177,141}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,733},{178,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,140}}</string>
				<key>sourceSize</key>
				<string>{178,140}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,563},{177,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,142}}</string>
				<key>sourceSize</key>
				<string>{177,142}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,449},{179,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,140}}</string>
				<key>sourceSize</key>
				<string>{179,140}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,591},{179,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,140}}</string>
				<key>sourceSize</key>
				<string>{179,140}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,69},{179,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,143}}</string>
				<key>sourceSize</key>
				<string>{179,143}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{179,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,150}}</string>
				<key>sourceSize</key>
				<string>{179,150}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,422},{177,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,139}}</string>
				<key>sourceSize</key>
				<string>{177,139}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,282},{177,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,138}}</string>
				<key>sourceSize</key>
				<string>{177,138}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,493},{178,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,138}}</string>
				<key>sourceSize</key>
				<string>{178,138}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,531},{290,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,80}}</string>
				<key>sourceSize</key>
				<string>{290,80}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,69},{302,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,93}}</string>
				<key>sourceSize</key>
				<string>{302,93}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{290,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,80}}</string>
				<key>sourceSize</key>
				<string>{290,80}</string>
			</dict>

			<key>btn_chonchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{302,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,93}}</string>
				<key>sourceSize</key>
				<string>{302,93}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,695},{290,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,80}}</string>
				<key>sourceSize</key>
				<string>{290,80}</string>
			</dict>

			<key>btn_chonle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,259},{302,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,93}}</string>
				<key>sourceSize</key>
				<string>{302,93}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{290,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,80}}</string>
				<key>sourceSize</key>
				<string>{290,80}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{302,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,93}}</string>
				<key>sourceSize</key>
				<string>{302,93}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{311,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,67}}</string>
				<key>sourceSize</key>
				<string>{311,67}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui_chondong.png</string>
			</dict>
		</dict>
</plist>