<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>labai_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,200},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,800},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,600},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

			<key>labai_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,400},{148,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,198}}</string>
				<key>sourceSize</key>
				<string>{148,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>cards.png</string>
			</dict>
		</dict>
</plist>