<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_BoardG_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,633}</string>
                <key>spriteSourceSize</key>
                <string>{605,633}</string>
                <key>textureRect</key>
                <string>{{338,257},{605,633}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_MainG_BottomUI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,131}</string>
                <key>spriteSourceSize</key>
                <string>{592,131}</string>
                <key>textureRect</key>
                <string>{{0,100},{592,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Spin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,100}</string>
                <key>spriteSourceSize</key>
                <string>{190,100}</string>
                <key>textureRect</key>
                <string>{{365,0},{190,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TotalWin_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,157}</string>
                <key>spriteSourceSize</key>
                <string>{213,157}</string>
                <key>textureRect</key>
                <string>{{592,100},{213,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panel_Notice_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,466}</string>
                <key>spriteSourceSize</key>
                <string>{338,466}</string>
                <key>textureRect</key>
                <string>{{0,257},{338,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Close_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{297,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_info_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{108,0},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_minus_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{171,0},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_turbo_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{234,0},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_main.png</string>
            <key>size</key>
            <string>{943,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88db74aae4e253d2abb3202d6fab9b58:a8f5cfcf36770b51ebad0da5a53ead28:acbe9b6c07b16272c141c31cab483b27$</string>
            <key>textureFileName</key>
            <string>UI_main.png</string>
        </dict>
    </dict>
</plist>
